// Floats
//
// Generates classes i.e. '.float-l { float: left }'
// Plus, breakpoint specific extensions i.e. '.float-l_m { float: left }',
// which will only affect layouts greater than break(m)
$floats: (
	n: none,
	l: left,
	r: right
);
@each $float_ext, $float in $floats {
	.float-#{$float_ext} { float: $float }
}
@each $break_ext, $break in $breakpoints {
	@media (min-width: em($break)) {
		@each $float_ext, $float in $floats {
			.float-#{$float_ext}_#{$break_ext} { float: $float }
		}
	}
}