// Padding
// 
// Generates classes i.e. '.padding-r-l { padding-right: scale(l) }'
// Plus, breakpoint specific extensions i.e. '.padding-r-l_m { padding-right: scale(l) }',
// which will only affect layouts greater than break(m)
@each $size, $value in $scale {
	.padding-a-#{$size} { padding: $value }
	.padding-l-#{$size} { padding-left: $value }
	.padding-r-#{$size} { padding-right: $value }
	.padding-t-#{$size} { padding-top: $value }
	.padding-b-#{$size} { padding-bottom: $value }
	.padding-v-#{$size} { padding-top: $value; padding-bottom: $value; }
	.padding-h-#{$size} { padding-left: $value; padding-right: $value; }
}
@each $break_ext, $break in $breakpoints {
  @media (min-width: em($break)) {
		@each $size, $value in $scale {
			.padding-a-#{$size}_#{$break_ext} { padding: $value }
			.padding-l-#{$size}_#{$break_ext} { padding-left: $value }
			.padding-r-#{$size}_#{$break_ext} { padding-right: $value }
			.padding-t-#{$size}_#{$break_ext} { padding-top: $value }
			.padding-b-#{$size}_#{$break_ext} { padding-bottom: $value }
			.padding-v-#{$size}_#{$break_ext} { padding-top: $value; padding-bottom: $value; }
			.padding-h-#{$size}_#{$break_ext} { padding-left: $value; padding-right: $value; }
		}
	}
}