// BUTTONS
.button,
button {
	@extend .inline-relative;
	background-color: #148ECC;
	border: 0;
	color: white;
	cursor: pointer;
	padding: 0.7em 2em;
	text-decoration: none;
	text-align: center;
	-webkit-appearance: none;
}
.button--border {
	@extend .button;
	background-color: transparent;
	border: 1px solid #148ECC;
	color: inherit;
}
input[type="submit"] {
	@extend .button;
}
