// FORMS
.input-group {
	@extend .relative;
	margin: 1em auto .66em;
}
label,
input,
select {
	@extend .relative;
}
input[type="text"],
input[type="email"],
input[type="search"],
input[type="tel"],
input[type="password"],
select, {
	border: 1px solid #999999;
	padding: .35em .65em;
}
label {
	color: #333333;
	margin-bottom: .25em;
}
// Adds a custom arrow
.select-wrapper {
	@extend .inline-relative;
	&:after {
		@extend .absolute;
		content: '\25bc';
		top: calc(50% - 0.5em);
		right: 1em;
		font-size: 2em;
		color: inherit;
		pointer-events: none;
	}
	// .select-wrapper > select assumes you want to remove default styles
	select {
		padding: .35em 2.5em .35em .55em;
		appearance: none;
			-webkit-appearance: none;
	}
}
select {
	background-color: white;
	border-radius: 0;
}
textarea {
	border: 1px solid #999999;
	min-height: 100px;
	padding: .55em;
	width: 100%;
}
input[type="checkbox"],
input[type="radio"] {
	border: 1px solid #999999;
	vertical-align: middle;

	&:checked{
	  background-color: #148ECC;
	  border-color: #148ECC;
	}
	&:focus{
	  box-shadow: none;
	}
}
label.checkbox, label.radio {
	input {
		font-size: 2rem;
		margin: 0 .33em 0 0;
		vertical-align: middle;
	}
}
input[type="radio"] {
	border-radius: 100%;
}
