// OBJECTS
// Objects are custom elements, and should be
// prefixed with '.o-*' to inform collaborators.

// Example:
// .o-divider-line {
// 	 @extend .inline-block;
//   @extend .align-m;
// 	 height: 1.5em;
// 	 width: 1px;
// 	 margin: 0 1em;
// }
