// TYPOGRAPHY
$font-stack__sans: -apple-system, BlinkMacSystemFont, 'Avenir Next', 'Source Sans Pro', 'Helvetica Neue', Helvetica, sans-serif;
$font-stack__serif: georgia, times, serif;
$font-stack__body: $font-stack__sans;
$font-stack__headings: $font-stack__sans;

html, body {
	color: #222222;
	font-family: $font-stack__body;
	font-size: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
.font-sans {
	font-family: $font-stack__sans;
}
.font-serif {
	font-family: $font-stack__serif;
}
.font-monospace {
	font-family: Consolas , Monaco, monospace;
}
h1, h2, h3, h4, h5, h6, p {
	font-weight: 100;
	margin: 0;
}
h1, h2, h3, h4, h5, h6 {
	font-family: $font-stack__headings;
  margin: 1ex 0 .6ex;
}
h1,
.h1 {
  font-size: 2.8rem;
	line-height: 1.1;
}
h2,
.h2 {
  font-size: 1.8rem;
	line-height: 1.4;
}
h3,
.h3 {
  font-size: 1.4rem;
	line-height: 1.4;
}
h4,
.h4 {
	font-size: 1.1rem;
	line-height: 1.5;
}
h5,
.h5 {
	font-size: 0.9rem;
	line-height: 1.6;
}
h6,
.h6 {
	font-size: 0.8rem;
	line-height: 1.6;
}
p,
.p {
	font-size: 1.1rem;
	font-weight: 100;
	line-height: 1.7;
}
p {
  margin: 2ex 0;
}
blockquote {
	margin: 3rem 0;
	padding-left: 2rem;
	border-left: 4px solid #148ECC;
}
hr {
	@extend .block-relative;
	background-color: currentColor;
  color: inherit;
	border: 0;
	height: 1px;
	width: 100%;
}
a {
	text-decoration: none;
}
.small,
small {
  font-size: 1.2rem;
}
b, strong {
  font-weight: bold;
}

// STYLES
// Pare these down based on your available fonts
.type--reset {
  margin: 0;
  line-height: 1;
}
.italic {
	font-style: italic;
}
.light {
	font-weight: 100;
}
.medium {
	font-weight: 500;
}
.bold {
	font-weight: 900;
}
.uppercase {
	text-transform: uppercase;
}
.underline {
	text-decoration: underline;
}
.decoration--none {
  text-decoration: none;
}
