// BACKGROUND
// Generates background-color classes i.e. '.bg-c-1 { background-color: color(1) }'
@each $color, $hex in $colors {
	.bg-c-#{$color} { background-color: $hex }
}
// Background Images - fill these in as needed 
.bg-cv {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;	
}
.bg-cv-t {
	@extend .bg-cv;
	background-position: top center;
}