// BUTTONS
$button__color: color(w);
$button__color--hover: color(w);
$button__bg-color: color(button);
$button__bg-color--hover: darken(color(button), 5%);
.button,
button {
	@extend .inline-relative;
	@extend .trans-bg-c-s !optional;
	@extend .radius;
	background-color: $button__bg-color;
	border: 0;
	color: $button__color;
	cursor: pointer;
	margin-right: 1em;
	padding: .5em 1.2em;
	text-decoration: none;
	text-align: center;
	-webkit-appearance: none;
	&:hover {
		background-color: $button__bg-color--hover;
	}
}
.button--border {
	@extend .button;
	background-color: transparent;
	border: 1px solid $button__bg-color;
	color: $button__bg-color;
	&:hover {
		background-color: transparent;
		border-color: $button__bg-color--hover;
		color: $button__bg-color--hover;
	}
}
.button--ghost {
	@extend .button;
	background-color: white;
	color: $button__bg-color;
	&:hover {
		background-color: $button__bg-color;
		color: white;
	}
}