// FORMS
// Reset
::-webkit-input-placeholder { color: rgba(color(b), .6) }
:-moz-placeholder { color: rgba(color(b), .6) }
::-moz-placeholder { color: rgba(color(b), .6) }
:-ms-input-placeholder { color: rgba(color(b), .6) }
input { border: 0; outline: 0;
	&:-webkit-autofill { background-color: #FFFFFF !important; // customize this as needed
		-webkit-box-shadow: 0 0 0 1000px #FFFFFF inset; // customize this as needed
		color: color(b) !important; // customize this as needed
	}
}
textarea { background-color: transparent; border: 0; max-width: 100%; outline: 0; width: 100%; }
fieldset, legend { margin: 0; padding: 0; border: 0; }

// Styles
form {
	margin: 3rem 0;
}
legend {
	@extend .h3;
}
label,
input,
select {
	@extend .inline-relative;
}
input[type="text"],
input[type="email"],
input[type="search"],
input[type="tel"],
select, {
	@extend .h4;
	@extend .radius;
	border: 1px solid rgba(color(g), .4);
	height: 44px;
	padding: 0 .66em;
	width: 100%;
}
label {
	@extend .h5;
	color: color(g);
	margin-bottom: .66em;
}
select {
	background-color: color(w);
}
textarea {
	@extend .h4;
	@extend .radius;
	border: 1px solid rgba(color(g), .4);
	min-height: 100px;
	padding: .66em;
	width: 100%;
}
input[type="checkbox"], 
input[type="radio"] { 
	@extend .radius;
	border: 1px solid rgba(color(g), .4);
	vertical-align: middle;

	&:checked{
	  background-color: color(theme);
	  border-color: color(theme);
	}
	&:focus{
	  box-shadow: none;
	}
}
label.checkbox, label.radio {
	@extend .h5;

	input {
		font-size: 2rem;
		margin: 0 .33em 0 0;
		vertical-align: middle;
	}
}
input[type="radio"] {
	border-radius: 100%;
}
.input-group {
	@extend .block-relative;
	margin: 1em auto .66em;
}