// LISTS
ul, ol {
	margin: 0;
	padding: 0;
}
ol {
	list-style: decimal inside;
}
ul {
	list-style: disc inside; 
}
li {
	@extend .p;
}
// NESTED LISTS
ul, ol, li {
	ul, ol {
		margin: 0;
		padding-left: s(m);
	}
	ul {
		list-style: circle inside;
	}
	ol {
		list-style: lower-alpha inside;
	}
}