// TABLES
table,
.table {
	border-collapse: collapse;
	border-spacing: 0;
	display: table;
	table-layout: fixed;
	width: 100%;
}
.table-row-header {
	display: table-header-group;
}
.table-row-footer {
	display: table-footer-group;
}
.table-row-group {
	display: table-row-group;
}
.table__row {
	display: table-row;
}
td,
th,
.table__cell {
	@extend .h4;
	border-bottom: 1px solid color(g1);
	display: table-cell;
	padding: s(s) s(m);
	text-align: left;

	&:first-child {
		padding-left: 0;
	}
	&:last-child {
		padding-right: 0;
	}
}