// Transitions
$t-long: 0.3s;
$t-short: 0.1s;
.trans-bg-l {
	transition: background $t-long;
		-webkit-transition: background $t-long;
		-moz-transition: background $t-long;
		-ms-transition: background $t-long;
}
.trans-bg-s {
	transition: background $t-short;
		-webkit-transition: background $t-short;
		-moz-transition: background $t-short;
		-ms-transition: background $t-short;
}
.trans-c-l {
	transition: color $t-long;
		-webkit-transition: color $t-long;
		-moz-transition: color $t-long;
		-ms-transition: color $t-long;
}
.trans-c-s {
	transition: color $t-short;
		-webkit-transition: color $t-short;
		-moz-transition: color $t-short;
		-ms-transition: color $t-short;
}
.trans-bg-c-s {
	transition: background $t-short, color $t-short;
		-webkit-transition: background $t-short, color $t-short;
		-moz-transition: background $t-short, color $t-short;
		-ms-transition: background $t-short, color $t-short;
}
.trans-o-s {
	transition: opacity $t-short;
		-webkit-transition: opacity $t-short;
		-moz-transition: opacity $t-short;
		-ms-transition: opacity $t-short;
}
.trans-o-l {
	transition: opacity $t-long;
		-webkit-transition: opacity $t-long;
		-moz-transition: opacity $t-long;
		-ms-transition: opacity $t-long;
}