// TYPOGRAPHY
$font-stack__sans: "Open Sans", Helvetica, Arial, sans-serif !default;
$font-stack__serif: georgia, serif !default;
$font-stack__body: $font-stack__serif !default;
$font-stack__headings: $font-stack__sans !default;

html, body {
	color: color(b);
	font-family: $font-stack__body;
	font-size: 62.5%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
.type-sans {
	font-family: $font-stack__sans;
}
.type-serif {
	font-family: $font-stack__serif;
}
.type-monospace {
	font-family: Consolas , Monaco, monospace;
}
h1, h2, h3, h4, h5, h6, p {
	font-weight: 100;
	margin: 0;
}
h1, h2, h3, h4, h5, h6 {
	font-family: $font-stack__headings;
}
h1,
.h1 {
	font-size: 3.2rem;
	line-height: 1.1;
	@media screen and (min-width: 34.375em) { // 550px
		font-size: 4.5rem;
	}
}
.h0 {
	@extend .h1;
	font-size: 4.5rem;
	line-height: 1.1;
	@media screen and (min-width: 34.375em) { // 550px
		font-size: 5.5vw;
	}
}
h2,
.h2 {
	font-size: 2.5rem;
	line-height: 1.4;
	@media screen and (min-width: 34.375em) { // 550px
		font-size: 3rem;
	}
}
h3,
.h3 {
	font-size: 2rem;
	line-height: 1.4;
	@media screen and (min-width: 34.375em) { // 550px
		font-size: 2.2rem;
	}
}
h4,
.h4 {
	font-size: 1.8rem;
	line-height: 1.5;
}
h5,
.h5 {
	font-size: 1.5rem;
	line-height: 1.6;
}
h6,
.h6 {
	font-size: 1.2rem;
	line-height: 1.6;
}
p,
.p {
	font-size: 1.8rem;
	font-weight: 100;
	line-height: 1.7;
}

// RTE (rich text) - WYSIWYG styles
// apply .rte descender classes to encapsulate styles
// and leave base type properties open to extension
.rte {
	h1, h2, h3, h4, h5, h6, p {
		max-width: 40em;
	}
	h1, h2, h3, h4, h5, h6 {
		margin: 1ex 0 .6ex;
	}
	.h0 {
		max-width: 100%;
		margin: 0 0 0.5ex;
	}
	p {
		margin: 2ex 0;
	}
	a:not(.button) {
		color: color(theme);
	}
	img {
		@extend .block-relative; 
		height: auto !important;
		max-width: 100%;
		padding: 2rem 0;
		width: 100%;  
	}
}
blockquote {
	@extend .h2;
	margin: 3rem 0;
	padding-left: 2rem;
	border-left: 4px solid color(theme);

	@media (min-width: 48em){ // 768px
		padding-left: 3rem;
	}

	h1, h2, h3, h4, h5, h6, p {
		@extend .h2;
	}
}
hr {
	@extend .block-relative; 
	background-color: color(g1);
	border: 0;
	height: 2px;
	margin: 4rem 0;
	width: 100px;

	@media (min-width: 48em){ // 768px
		margin: 6rem 0;
	}
}
a {
	text-decoration: none;
}
// Font styles
.font-s-i {
	font-style: italic;
}
.font-w-l {
	font-weight: 100;
}
.font-w-r {
	font-weight: 400;
}
.font-w-b {
	font-weight: 900;
}