/* Typographical Scale */
html, body {
    font-size: 50%;
}

/* BEGIN STYLES HERE */
.test {
    background-color: tomato;
    height: 100px;
}
.column--test {
    background-color: #bada55;
    height: 100px;
    z-index: 100;
}