// HORIZONTAL DIVIDER - use class="column size{sizeHere}" in HTML for width, padding, and margin properties
.divider {
    background-color: $primaryColor;
    height: 8px;
}
.divider--secondary {
    background-color: $secondaryColor;
    height: 8px;
}
.divider--tertiary {
    background-color: $tertiaryColor;
    height: 8px;
}
.divider--white {
    background-color: white;
    height: 8px;
}
