/////VARIABLES
$red: #ff4861;
$blue: #00cbdc;
$black: #222222;
$gray: #333333;
$gray60: #666666;
$gray40: #999999;
$gray20: #cccccc;
$gray10: #f5f5f5;

/////MIXINS
@mixin block-rel {
    display: block;
    position: relative;
}
@mixin block-ab {
    display: block;
    position: absolute;
}
@mixin block-fix {
    display: block;
    position: fixed;
}
@mixin inline-rel {
    display: inline-block;
    position: relative;
}
@mixin rounded {
    border-radius: 6px;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
    overflow: hidden;
}
@mixin round {
    border-radius: 1000px;
        -moz-border-radius: 1000px;
        -webkit-border-radius: 1000px;
    overflow: hidden;
}
@mixin text-shadow {
    text-shadow: 0 0 5px $gray60;
        -moz-text-shadow: 0 0 5px $gray60;
        -webkit-text-shadow: 0 0 5px $gray60;
        -ms-text-shadow: 0 0 5px $gray60;
}
@mixin trans-one {
    transition: .1s all;
        -moz-transition: .1s all;
        -webkit-transition: .1s all;
        -ms-transition: .1s all;
}
@mixin trans-two {
    transition: .3s all;
        -moz-transition: .3s all;
        -webkit-transition: .3s all;
        -ms-transition: .3s all;
    transition-delay: .3s;
        -moz-transition-delay: .3s;
        -webkit-transition-delay: .3s;
        -ms-transition-delay: .3s;
}
@mixin trans-three {
    transition: .3s all;
        -moz-transition: .3s all;
        -webkit-transition: .3s all;
        -ms-transition: .3s all;
}
@mixin button {
    @include inline-rel;
    
    background-color: white;
    border-color: $black;
    color: black;
    cursor: pointer;
    padding: 20px 30px;
}
@mixin img-bkgd {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
@mixin dots {
    &::after {
        @include block-ab;
        
        background-image: url('../resources/icons/dots.png');
        content:'';
        height:100% ;
        left: 0;
        top: 0;
        width:100% ;
        z-index: 0;
    }
}

/*EXTENDS*/
@mixin imageBackground {
    @include block-rel;
    
    background-image: url('../resources/images/1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100% ;
}

/*COMPONENTS*/
.imageBackground {
    @include block-rel;
    
    background-image: url('../resources/images/1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100% ;
}

.listIcons {
    @include block-rel;
    
    height: 40px;
    text-align: left;
    
    a {
        @include inline-rel;
        
        height:inherit;
        margin: 0px 5px;
        width: 40px;
        
        i {
            color: $black;   
            font-size: 2rem;
        }
    }
    
    &::after {
        @include inline-rel;
        
        content:'';
        width:100% ;
    }
}
