/////VARIABLES
$red: #ff4861;
$blue: #00cbdc;
$black: #222222;
$gray: #333333;
$gray60: #666666;
$gray40: #999999;
$gray20: #cccccc;
$gray10: #f5f5f5;

/////GLOBAL SETTINGS
::selection {
    color: $red;
    background: $gray10;
}
a {
    color: $red;
    font-weight:900;
}

/////MIXINS
@mixin blockRel {
    display: block;
    position: relative;
}
@mixin blockAb {
    display: block;
    position: absolute;
}
@mixin blockFix {
    display: block;
    position: fixed;
}
@mixin inlineRel {
    display: inline-block;
    position: relative;
}
@mixin rounded {
    border-radius: 6px;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
    overflow: hidden;
}
@mixin round {
    border-radius: 1000px;
        -moz-border-radius: 1000px;
        -webkit-border-radius: 1000px;
    overflow: hidden;
}
@mixin textShadow {
    textShadow: 0 0 5px $gray60;
        -moz-textShadow: 0 0 5px $gray60;
        -webkit-textShadow: 0 0 5px $gray60;
        -ms-textShadow: 0 0 5px $gray60;
}
@mixin transOne {
    transition: .1s all;
        -moz-transition: .1s all;
        -webkit-transition: .1s all;
        -ms-transition: .1s all;
}
@mixin transTwo {
    transition: .3s all;
        -moz-transition: .3s all;
        -webkit-transition: .3s all;
        -ms-transition: .3s all;
    transition-delay: .3s;
        -moz-transition-delay: .3s;
        -webkit-transition-delay: .3s;
        -ms-transition-delay: .3s;
}
@mixin transThree {
    transition: .3s all;
        -moz-transition: .3s all;
        -webkit-transition: .3s all;
        -ms-transition: .3s all;
}
@mixin button {
    @include inlineRel;
    
    background-color: white;
    border-color: $black;
    color: black;
    cursor: pointer;
    padding: 20px 30px;
}
@mixin imageBackground {
    @include blockRel;
    
    background-image: url('../resources/images/1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100% ;
}

/* Adds a dot overlay to any photo - requires z-index values */
@mixin dots {
    &::after {
        @include blockAb;
        
        background-image: url('../resources/icons/dots.png');
        content:'';
        height:100% ;
        left: 0;
        top: 0;
        width:100% ;
        z-index: 0;
    }
}


/*COMPONENTS*/
.imageBackground {
    @include imageBackground;
}
.listIcons {
    @include blockRel;
    
    height: 40px;
    text-align: left;
    
    a {
        @include inlineRel;
        
        height:inherit;
        margin: 0px 5px;
        width: 40px;
        
        i {
            color: $black;   
            font-size: 2rem;
        }
    }
    
    &::after {
        @include inlineRel;
        
        content:'';
        width:100% ;
    }
}
