/* GRID SETTINGS */
$outerContainer: 100%;
$outerContainer--padded: 6rem 0rem 4rem;
$row: 85%;
$maxRow: 144rem;
$gutter: 3rem; /*Use rem units*/

/* BREAKPOINTS */
$sm: 481px;
$med: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1500px;