/* GRID SETTINGS */
$outerContainer: 100%;
$outerContainer--padding: 30px 0px;
$row: 85%;
$maxRow: 144rem;
$gutter: 1rem; /*Use rem units*/

/* BREAKPOINTS */
$sm: 481px;
$med: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1500px;