/*inline-block based grid layout*/

.container {
    @include block-rel;
    
    width: $outerContainer;
}
.row {
    @include block-rel;
    
    margin: auto;
    max-width: $maxRow;
    text-align: justify;
    width: $row;
    
    &::after {
        @include inline-rel;
        
        content:'';
        width: 100%;
    }
}
.column {
    @include inline-rel;
    
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    margin-bottom: calc(#{$gutter}*2);
    vertical-align: middle;
    width: 100%;
}
.row--fullWidth {
    max-width: 100%;
    width: 100%;
}

/*BEGIN GRID STYLES*/   
    .size1of1 {float:none}
	.size1of2 {width: calc(50% - #{$gutter})}
	.size1of3 {width: calc(33.333333% - #{$gutter})}
	.size2of3 {width: calc(66.666666% - #{$gutter})}
	.size1of4 {width: calc(25% - #{$gutter})}
	.size3of4 {width: calc(75% - #{$gutter})}
    .sizeGoldenLong {width: calc(61.803398% - #{$gutter})}
    .sizeGoldenShort {width: calc(38.196602% - #{$gutter})}

    .push0of0 {left: 0}
	.push1of2 {left: calc(50% + #{$gutter})}
	.push1of3 {left: calc(33.333333% + #{$gutter})}
	.push2of3 {left: calc(66.666666% + #{$gutter})}
	.push1of4 {left: calc(25% + #{$gutter})}
	.push3of4 {left: calc(75% + #{$gutter})}
	.pushGoldenLong {left: calc(61.803398% + #{$gutter})}
	.pushGoldenShort {left: calc(38.196602% + #{$gutter})}

	.push1of2, 
	.push1of3,
	.push2of3,
	.push1of4,
	.push3of4,
	.pushGoldenLong,
	.pushGoldenShort {
		min-height: 1px;
	}

    .pull0of0 {left: 0}
	.pull1of2 {left: calc(-50% + #{$gutter})}
	.pull1of3 {left: calc(-33.333333% + #{$gutter})}
	.pull2of3 {left: calc(-66.666666% + #{$gutter})}
	.pull1of4 {left: calc(-25% + #{$gutter})}
	.pull3of4 {left: calc(-75% + #{$gutter})}
	.pullGoldenLong {left: calc(-61.803398% + #{$gutter})}
	.pullGoldenShort {left: calc(-38.196602% + #{$gutter})}

@media screen and (min-width:$sm) {
/* ---- sizes ---- */
	.sm_size1of1 {float:none}
	.sm_size1of2 {width: calc(50% - #{$gutter})}
	.sm_size1of3 {width: calc(33.333333% - #{$gutter})}
	.sm_size2of3 {width: calc(66.666666% - #{$gutter})}
	.sm_size1of4 {width: calc(25% - #{$gutter})}
	.sm_size3of4 {width: calc(75% - #{$gutter})}
    .sm_sizeGoldenLong {width: calc(61.803398% - #{$gutter})}
    .sm_sizeGoldenShort {width: calc(38.196602% - #{$gutter})}

    .sm_push0of0 {left: 0}
	.sm_push1of2 {left: calc(50% + #{$gutter})}
	.sm_push1of3 {left: calc(33.333333% + #{$gutter})}
	.sm_push2of3 {left: calc(66.666666% + #{$gutter})}
	.sm_push1of4 {left: calc(25% + #{$gutter})}
	.sm_push3of4 {left: calc(75% + #{$gutter})}
	.sm_pushGoldenLong {left: calc(61.803398% + #{$gutter})}
	.sm_pushGoldenShort {left: calc(38.196602% + #{$gutter})}

	.sm_push1of2, 
	.sm_push1of3,
	.sm_push2of3,
	.sm_push1of4,
	.sm_push3of4,
	.sm_pushGoldenLong,
	.sm_pushGoldenShort {
		min-height: 1px;
	}

    .sm_pull0of0 {left: 0}
	.sm_pull1of2 {left: calc(-50% + #{$gutter})}
	.sm_pull1of3 {left: calc(-33.333333% + #{$gutter})}
	.sm_pull2of3 {left: calc(-66.666666% + #{$gutter})}
	.sm_pull1of4 {left: calc(-25% + #{$gutter})}
	.sm_pull3of4 {left: calc(-75% + #{$gutter})}
	.sm_pullGoldenLong {left: calc(-61.803398% + #{$gutter})}
	.sm_pullGoldenShort {left: calc(-38.196602% + #{$gutter})}
}

@media screen and (min-width:$med) {
/* ---- sizes ---- */
	.med_size1of1 {float:none}
	.med_size1of2 {width: calc(50% - #{$gutter})}
	.med_size1of3 {width: calc(33.333333% - #{$gutter})}
	.med_size2of3 {width: calc(66.666666% - #{$gutter})}
	.med_size1of4 {width: calc(25% - #{$gutter})}
	.med_size3of4 {width: calc(75% - #{$gutter})}
    .med_sizeGoldenLong {width: calc(61.803398% - #{$gutter})}
    .med_sizeGoldenShort {width: calc(38.196602% - #{$gutter})}

    .med_push0of0 {left: 0}
	.med_push1of2 {left: calc(50% + #{$gutter})}
	.med_push1of3 {left: calc(33.333333% + #{$gutter})}
	.med_push2of3 {left: calc(66.666666% + #{$gutter})}
	.med_push1of4 {left: calc(25% + #{$gutter})}
	.med_push3of4 {left: calc(75% + #{$gutter})}
	.med_pushGoldenLong {left: calc(61.803398% + #{$gutter})}
	.med_pushGoldenShort {left: calc(38.196602% + #{$gutter})}

	.med_push1of2, 
	.med_push1of3,
	.med_push2of3,
	.med_push1of4,
	.med_push3of4,
	.med_pushGoldenLong,
	.med_pushGoldenShort {
		min-height: 1px;
	}

    .med_pull0of0 {left: 0}
	.med_pull1of2 {left: calc(-50% + #{$gutter})}
	.med_pull1of3 {left: calc(-33.333333% + #{$gutter})}
	.med_pull2of3 {left: calc(-66.666666% + #{$gutter})}
	.med_pull1of4 {left: calc(-25% + #{$gutter})}
	.med_pull3of4 {left: calc(-75% + #{$gutter})}
	.med_pullGoldenLong {left: calc(-61.803398% + #{$gutter})}
	.med_pullGoldenShort {left: calc(-38.196602% + #{$gutter})}
}

@media screen and (min-width:$lg) {
    .lg_size1of1 {float:none}
	.lg_size1of2 {width: calc(50% - #{$gutter})}
	.lg_size1of3 {width: calc(33.333333% - #{$gutter})}
	.lg_size2of3 {width: calc(66.666666% - #{$gutter})}
	.lg_size1of4 {width: calc(25% - #{$gutter})}
	.lg_size3of4 {width: calc(75% - #{$gutter})}
    .lg_sizeGoldenLong {width: calc(61.803398% - #{$gutter})}
    .lg_sizeGoldenShort {width: calc(38.196602% - #{$gutter})}

    .lg_push0of0 {left: 0}
	.lg_push1of2 {left: calc(50% + #{$gutter})}
	.lg_push1of3 {left: calc(33.333333% + #{$gutter})}
	.lg_push2of3 {left: calc(66.666666% + #{$gutter})}
	.lg_push1of4 {left: calc(25% + #{$gutter})}
	.lg_push3of4 {left: calc(75% + #{$gutter})}
	.lg_pushGoldenLong {left: calc(61.803398% + #{$gutter})}
	.lg_pushGoldenShort {left: calc(38.196602% + #{$gutter})}

	.lg_push1of2, 
	.lg_push1of3,
	.lg_push2of3,
	.lg_push1of4,
	.lg_push3of4,
	.lg_pushGoldenLong,
	.lg_pushGoldenShort {
		min-height: 1px;
	}

    .lg_pull0of0 {left: 0}
	.lg_pull1of2 {left: calc(-50% + #{$gutter})}
	.lg_pull1of3 {left: calc(-33.333333% + #{$gutter})}
	.lg_pull2of3 {left: calc(-66.666666% + #{$gutter})}
	.lg_pull1of4 {left: calc(-25% + #{$gutter})}
	.lg_pull3of4 {left: calc(-75% + #{$gutter})}
	.lg_pullGoldenLong {left: calc(-61.803398% + #{$gutter})}
	.lg_pullGoldenShort {left: calc(-38.196602% + #{$gutter})}
}

@media screen and (min-width:$xl) {
    .xl_size1of1 {float:none}
	.xl_size1of2 {width: calc(50% - #{$gutter})}
	.xl_size1of3 {width: calc(33.333333% - #{$gutter})}
	.xl_size2of3 {width: calc(66.666666% - #{$gutter})}
	.xl_size1of4 {width: calc(25% - #{$gutter})}
	.xl_size3of4 {width: calc(75% - #{$gutter})}
    .xl_sizeGoldenLong {width: calc(61.803398% - #{$gutter})}
    .xl_sizeGoldenShort {width: calc(38.196602% - #{$gutter})}

    .xl_push0of0 {left: 0}
	.xl_push1of2 {left: calc(50% + #{$gutter})}
	.xl_push1of3 {left: calc(33.333333% + #{$gutter})}
	.xl_push2of3 {left: calc(66.666666% + #{$gutter})}
	.xl_push1of4 {left: calc(25% + #{$gutter})}
	.xl_push3of4 {left: calc(75% + #{$gutter})}
	.xl_pushGoldenLong {left: calc(61.803398% + #{$gutter})}
	.xl_pushGoldenShort {left: calc(38.196602% + #{$gutter})}

	.xl_push1of2, 
	.xl_push1of3,
	.xl_push2of3,
	.xl_push1of4,
	.xl_push3of4,
	.xl_pushGoldenLong,
	.xl_pushGoldenShort {
		min-height: 1px;
	}

    .xl_pull0of0 {left: 0}
	.xl_pull1of2 {left: calc(-50% + #{$gutter})}
	.xl_pull1of3 {left: calc(-33.333333% + #{$gutter})}
	.xl_pull2of3 {left: calc(-66.666666% + #{$gutter})}
	.xl_pull1of4 {left: calc(-25% + #{$gutter})}
	.xl_pull3of4 {left: calc(-75% + #{$gutter})}
	.xl_pullGoldenLong {left: calc(-61.803398% + #{$gutter})}
	.xl_pullGoldenShort {left: calc(-38.196602% + #{$gutter})}
}
