//// DISPLAY STYLINGS
@mixin blockRel {
    display: block;
    position: relative;
}
@mixin blockAb {
    display: block;
    position: absolute;
}
@mixin blockFix {
    display: block;
    position: fixed;
}
@mixin inlineRel {
    display: inline-block;
    position: relative;
}
@mixin rounded {
    border-radius: 6px;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
    overflow: hidden;
}

.u-blockFix {
    left: 0;
    position: fixed !important;
    top: 0;
}

.u-inlineRel {
    @include inlineRel;
}


//// PRESENTATIONAL
@mixin round {
    border-radius: 1000px;
        -moz-border-radius: 1000px;
        -webkit-border-radius: 1000px;
    overflow: hidden;
}
@mixin textShadow {
    textShadow: 0 0 5px $gray60;
        -moz-textShadow: 0 0 5px $gray60;
        -webkit-textShadow: 0 0 5px $gray60;
        -ms-textShadow: 0 0 5px $gray60;
}


////TRANSITIONS
@mixin transOne {
    transition: .1s all;
        -moz-transition: .1s all;
        -webkit-transition: .1s all;
        -ms-transition: .1s all;
}
@mixin transTwo {
    transition: .3s all;
        -moz-transition: .3s all;
        -webkit-transition: .3s all;
        -ms-transition: .3s all;
    transition-delay: .3s;
        -moz-transition-delay: .3s;
        -webkit-transition-delay: .3s;
        -ms-transition-delay: .3s;
}
@mixin transThree {
    transition: .3s all;
        -moz-transition: .3s all;
        -webkit-transition: .3s all;
        -ms-transition: .3s all;
}


//// FUNCTIONS
@mixin calc($property, $value) {
  #{$property}: -webkit-calc(#{$value});
  #{$property}:         calc(#{$value});
}