%typography {
    font-family: "open-sans", arial, sans-serif;
    color: $black;
}
h1, h2, h3, h4, h5, h6, p {
    @extend %typography
}
h1 {
    font-size: 6.5rem;
    font-weight: 900;
    line-height: .9;
    margin-bottom: 1rem;
    @media screen and (min-width: $sm) {
        font-size: 5.5rem;   
    }
}
h2 {
    font-size: 5rem;
    font-weight: 100;
    margin-bottom: 1rem;
}
h3 {
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 1.6rem;
    margin-bottom: .8rem;
}
h4 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
h5 {
    font-size: 1.6rem;
    font-weight: 100;
    line-height: 3rem;
}
h6 {
    font-size: 1.2rem;
    font-weight: 100;
}
p {
    font-size: 1.4rem;
    font-weight: 100;
    line-height: 2.4rem; 
}
strong {
    font-weight: 900;   
}