/*UTILITY CLASSES*/
.parallax {
    perspective: 1px;
    -webkit-perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}
.parallaxContainer {
    position: relative;
    height: 100vh;
    transform-style: preserve-3d;
}
.parallaxContainer-layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.parallaxContainer-layer--base {
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
}
.parallaxContainer-layer--scroll {
    transform: translateZ(-1px) scale(2);
    -webkit-transform: translateZ(-1px) scale(2);
}


/* text alignment classes */
.u-centerAlign {
    text-align: center;
}
.u-rightAlign {
    text-align: right;
}
.u-leftAlign {
    text-align: right;
}
.u-justifyAlign {
    text-align: right;
}

@media screen and (min-width:$sm) {
    .sm_u-centerAlign {
        text-align: center;
    }
    .sm_u-rightAlign {
        text-align: right;
    }
    .sm_u-leftAlign {
        text-align: right;
    }
    .sm_u-justifyAlign {
        text-align: right;
    }
}

@media screen and (min-width:$med) {
    .med_u-centerAlign {
        text-align: center;
    }
    .med_u-rightAlign {
        text-align: right;
    }
    .med_u-leftAlign {
        text-align: right;
    }
    .med_u-justifyAlign {
        text-align: right;
    }
}

@media screen and (min-width:$lg) {
    .lg_u-centerAlign {
        text-align: center;
    }
    .lg_u-rightAlign {
        text-align: right;
    }
    .lg_u-leftAlign {
        text-align: right;
    }
    .lg_u-justifyAlign {
        text-align: right;
    }
}

@media screen and (min-width:$xl) {
    .xl_u-centerAlign {
        text-align: center;
    }
    .xl_u-rightAlign {
        text-align: right;
    }
    .xl_u-leftAlign {
        text-align: right;
    }
    .xl_u-justifyAlign {
        text-align: right;
    }
}
/* end text alignment classes */