.background-c-1 { background-color: $c-1 }
.background-c-1l { background-color: $c-1l }
.background-c-1d { background-color: $c-1d }
.background-c-2 { background-color: $c-2 }
.background-c-2l { background-color: $c-2l }
.background-c-2d { background-color: $c-2d }
.background-c-3 { background-color: $c-3 }
.background-c-3l { background-color: $c-3l }
.background-c-3d { background-color: $c-3d }
.background-c-b { background-color: $c-b }
.background-c-w { background-color: #FFFFFF }
/* ETC*/

.background-cv-c {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
/* ETC*/

.background-cn-c {
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
/* ETC */