.bg-c-1 { background-color: $c-1 }
.bg-c-2 { background-color: $c-2 }
.bg-c-3 { background-color: $c-3 }
.bg-c-b { background-color: $c-b }
.bg-c-w { background-color: #FFFFFF }
/* ETC*/

.bg-cv-c {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
/* ETC*/

.bg-cn-c {
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
/* ETC */