html {
    background-color: $gray10;
}
body {
    @include blockRel;
}

.body-wrapper {
    @include blockRel;

    max-width: 1500px;
    margin: 0rem auto;
    width: 100%;
}

a {
    color: inherit;
    text-decoration: none;

    &.link {
        color: $c1;
        &:hover {
            color: $c1d;
        }
    }

    &.link-alt {
        color: $c2;

        &:hover {
            color: $c2d;
        }
    }

    &.link-alt-2 {
        color: $c3;

        &:hover {
            color: $c3d;
        }
    }

    &.hu {
        &:hover {
            text-decoration: underline;
        }
    }

    &.u {
        text-decoration: underline;
    }
}

@mixin container {
    @include blockRel;

    padding: .01rem; // prevents margin-collapse
    margin-top: -0.1rem;
    z-index: 0;

    &.dark {
        background-color: $c2d;
    }
    &.darker {
        background-color: darken($c2d, 5%);
    }
    &.light {
        background-color: $c6;
    }
}
.container {
    @include container;
}

// These come in handy with containers where you need vertical spacing.
.pad-sm {
    padding: 1.5rem 0rem;

    @media screen and (min-width: $sm) {
        padding: 3rem 0rem;
    }
}
.pad-med {
    padding: 3.33rem 0rem;

    @media screen and (min-width: $sm) {
        padding: 6.66rem 0rem;
    }
}
.pad-lg {
    padding: 5rem 0rem;

    @media screen and (min-width: $sm) {
        padding: 10rem 0rem;
    }
}

/* Use a row to specify width and .inline or .float options
 * to set up a wrapper for grids.
 */
@mixin row {
    @include blockRel;

    height: 100%;
    margin: 0 auto;
    padding: .01rem; // must have some padding to prevent margin-collapse
    width: 100%;
    z-index: 1;

    &::before,
    &::after {
      content: " "; /* 1 */
      display: table; /* 2 */
    }

    &::after {
      clear: both;
    }

    &.small {
        width: 90%;

        @media screen and (min-width: $xs) {
            width: 70%;
        }
        @media screen and (min-width: $med) {
            width: 50%;
        }
    }

    &.medium {
        width: 90%;

        @media screen and (min-width: $xs) {
            width: 80%;
        }
        @media screen and (min-width: $med) {
            width: 70%;
        }
    }

    &.large {
        width: 95%;

        @media screen and (min-width: $xs) {
            width: 92.5%;
        }
        @media screen and (min-width: $med) {
            width: 90%;
        }
    }

    &.inline {
        margin-top: calc(#{$gutter/2}); //offset the bottom margin on the .block class
        text-align: justify;

        &::after {
            @include inlineRel;

            content: '';
            width: 100%;
        }

        &.center {
            text-align: center;
        }

        .block {
            @include inlineRel;

            float: none;
            vertical-align: top;
        }
    }

    // Vertically middle align child, e.g. ".content"
    &.vm-child {
        &::after {
            @include inlineRel;

            content:'';
            height: 50%;
            width: 0px;
        }
    }
}
.row {
    @include row;
}

// Grid block identifying class
.block {
    @include blockRel;

    float: left;
    // margin-bottom: calc(#{$gutter}/2);
    // padding: 2rem;
    text-align: left;
}

// Usually content within a container/row.
.content {
    @include inlineRel;

    margin: auto;
    text-align: left;
    width: 99%; // default width
    vertical-align: middle;
}

// Inner content, same props as .row, but for nesting and altering width, margin, etc.
.inner {
    @include row;
}



// Random components
.divider {
    @include blockRel;

    background-color: $c3;
    height: 4px;
    margin: 1rem 0rem 1.4rem;
    width: 100px;
}