/*
 * Buttons
 */
$button-color: color(1);
$button-color__hover: darker(color(1), 10%);
$button-color--alt: color(2);
$button-color__hover--alt: darker(color(2), 10%);

.button,
button {
	@extend .inline-relative;
	@extend .h3;

	background-color: $button-color;
	border: 0;
	color: color(w);
	cursor: pointer;
	padding: s(s) s(m);
	text-decoration: none;
	text-align: center;
	-webkit-appearance: none;

	&:hover {
		background-color: $button-color__hover;
	}
}

.button--c-2 {
	@extend .button;

	background-color: $button-color--alt;

	&:hover {
		background-color: $button-color__hover--alt;
	}
}

.button--border {
	@extend .button;

	background-color: transparent;
	border: 3px solid $button-color;
	color: $button-color;

	&:hover {
		background-color: transparent;
		border-color: $button-color__hover;
		color: $button-color__hover;
	}
}

.button--border--c-2 {
	@extend .button--border;

	border-color: $button-color--alt;
	color: $button-color--alt;

	&:hover {
		border-color: $button-color__hover--alt;
		color: $button-color__hover--alt;
	}
}