/* Display */
.block {
  display: block;
}
.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
}
.table {
  display: table;
  table-layout: fixed;
}
.table-row-header {
  display: table-header-group;
}
.table-row-footer {
  display: table-footer-group;
}
.table-row-group {
  display: table-row-group;
}
.table-row {
  display: table-row;
}
.table-cell {
  display: table-cell;
}

/* Positioning */
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
.static {
  position: static;
}

.block-relative {
  @extend .block;
  @extend .relative;
}
.inline-relative {
  @extend .inline-block;
  @extend .relative;
}
.block-fixed {
  @extend .block;
  @extend .fixed;
}
.block-absolute {
  @extend .block;
  @extend .absolute;
}
