.display-br {
  display: block;
  position: relative;
}
.display-ir {
  display: inline-block;
  position: relative;
}
.display-bf {
  display: block;
  position: fixed;
}
.display-ba {
  display: block;
  position: absolute;
}
.display-b {
  display: block;
}
.display-i {
  display: inline;
}
.display-ib {
  display: inline-block;
}