.float-n {
	float: none;
}
.float-l {
	float: left;
}
.float-r {
	float: right;
}
@media (min-width: $breakpoint-xs){
	.float-n-xs {
		float: none;
	}
	.float-l-xs {
		float: left;
	}
	.float-r-xs {
		float: right;
	}
}
@media (min-width: $breakpoint-s){
	.float-n-s {
		float: none;
	}
	.float-l-s {
		float: left;
	}
	.float-r-s {
		float: right;
	}	
}
@media (min-width: $breakpoint-m){
	.float-n-m {
		float: none;
	}
	.float-l-m {
		float: left;
	}
	.float-r-m {
		float: right;
	}	
}
@media (min-width: $breakpoint-l){
	.float-n-l {
		float: none;
	}
	.float-l-l {
		float: left;
	}
	.float-r-l {
		float: right;
	}	
}
@media (min-width: $breakpoint-xl){
	.float-n-xl {
		float: none;
	}
	.float-l-xl {
		float: left;
	}
	.float-r-xl {
		float: right;
	}	
}