input, textarea, select, button {
	@include blockRel;
	@include p;

	border: 1px solid $gray20;
	outline: 0px;
	padding: 1rem 2rem;
	-webkit-appearance: none;

	&:focus {
		outline: 0;
	}
}

legend {
	margin-bottom: 1rem;
	text-align: center;
	width: 100%;
}

label {
	@include blockRel;

	width: 100%;
}

// Essentially a form specific row
.inputGroup {
	@include blockRel;
	@include inlineHelper;

	text-align: justify;
	width: 100%;
}

// Form specific .block element
input.inline {
	@include inlineRel;

	margin: 1rem auto;

	&:first-child {
		margin-left: 0;
	}
	&:last-child {
		margin-right: 0;
	}
}