/*
 * Forms
 */
/* Placeholder Styling */
::-webkit-input-placeholder {
   color: rgba(color(b), .6);
}
:-moz-placeholder {
   color: rgba(color(b), .6);  
}
::-moz-placeholder {
   color: rgba(color(b), .6);  
}
:-ms-input-placeholder {  
   color: rgba(color(b), .6);  
}

input {
	border: 0;
	outline: 0;
	-webkit-appearance: none;
	
	/* Fix autofil in Chrome */
	&:-webkit-autofill {
		background-color: #FFFFFF !important;
		-webkit-box-shadow: 0 0 0 1000px #FFFFFF inset;
		color: color(b) !important;
	}
}

textarea {
	background-color: transparent;
	border: 0;
	outline: 0;
	resize: none;
	width: 100%;
}

// Need to add to this