// Specify spacing between two inline-block grid elements
$gutter: 6rem;

/**
 * Inline-block grid sizing
 *
 * [s = "size"] [applied columns] [total number of columns]
 * Where ".s12" means "size, 1 column of 2".
 *
 */
.row.inline {

	.s1 { width: 100%; }
	.s12 { width: calc( 50% - #{$gutter}/2 ); }
	.s13 { width: calc( 33.333333% - #{$gutter}/2 ); }
	.s23 { width: calc( 66.666666% - #{$gutter}/2 ); }
	.s14 { width: calc( 25% - #{$gutter}/2 ); }
	.s34 { width: calc( 75% - #{$gutter}/2 ); }
	.s16 { width: calc( 16.666666% - #{$gutter}/2 ); }
	.s56 { width: calc( 83.333333% - #{$gutter}/2 ); }

	.p12 { left: calc( 50% + #{$gutter}/2 ); }
	.p13 { left: calc( 33.333333% + #{$gutter}/2 ); }
	.p23 { left: calc( 66.666666% + #{$gutter}/2 ); }
	.p14 { left: calc( 25% + #{$gutter}/2 ); }
	.p34 { left: calc( 75% + #{$gutter}/2 ); }
	.p16 { left: calc( 16.666666% + #{$gutter}/2 ); }
	.p56 { left: calc( 83.333333% + #{$gutter}/2 ); }

	.p12,
	.p13,
	.p23,
	.p14,
	.p34,
	.p16,
	.p56 {min-height: 1px;}

	.pl12 { left: calc( -50% + #{$gutter}/2 ); }
	.pl13 { left: calc( -33.333333% + #{$gutter}/2 ); }
	.pl23 { left: calc( -66.666666% + #{$gutter}/2 ); }
	.pl14 { left: calc( -25% + #{$gutter}/2 ); }
	.pl34 { left: calc( -75% + #{$gutter}/2 ); }
	.pl16 { left: calc( -16.666666% + #{$gutter}/2 ); }
	.pl56 { left: calc( -83.333333% + #{$gutter}/2 ); }

	.sx12 { margin-right: calc( 50% + #{$gutter}/2 ); }
	.sx13 { margin-right: calc( 33.333333% + #{$gutter}/2 ); }
	.sx23 { margin-right: calc( 66.666666% + #{$gutter}/2 ); }
	.sx14 { margin-right: calc( 25% + #{$gutter}/2 ); }
	.sx34 { margin-right: calc( 75% + #{$gutter}/2 ); }
	.sx16 { margin-right: calc( 16.666666% + #{$gutter}/2 ); }
	.sx56 { margin-right: calc( 83.333333% + #{$gutter}/2 ); }

	@media screen and (min-width: $xs) {
		.xs_s1 { width: 100%; }
		.xs_s12 { width: calc( 50% - #{$gutter}/2 ); }
		.xs_s13 { width: calc( 33.333333% - #{$gutter}/2 ); }
		.xs_s23 { width: calc( 66.666666% - #{$gutter}/2 ); }
		.xs_s14 { width: calc( 25% - #{$gutter}/2 ); }
		.xs_s34 { width: calc( 75% - #{$gutter}/2 ); }
		.xs_s16 { width: calc( 16.666666% - #{$gutter}/2 ); }
		.xs_s56 { width: calc( 83.333333% - #{$gutter}/2 ); }

		.xs_p12 { left: calc( 50% + #{$gutter}/2 ); }
		.xs_p13 { left: calc( 33.333333% + #{$gutter}/2 ); }
		.xs_p23 { left: calc( 66.666666% + #{$gutter}/2 ); }
		.xs_p14 { left: calc( 25% + #{$gutter}/2 ); }
		.xs_p34 { left: calc( 75% + #{$gutter}/2 ); }
		.xs_p16 { left: calc( 16.666666% + #{$gutter}/2 ); }
		.xs_p56 { left: calc( 83.333333% + #{$gutter}/2 ); }

		.xs_p12,
		.xs_p13,
		.xs_p23,
		.xs_p14,
		.xs_p34,
		.xs_p16,
		.xs_p56 {min-height: 1px;}

		.xs_pl12 { left: calc( -50% + #{$gutter}/2 ); }
		.xs_pl13 { left: calc( -33.333333% + #{$gutter}/2 ); }
		.xs_pl23 { left: calc( -66.666666% + #{$gutter}/2 ); }
		.xs_pl14 { left: calc( -25% + #{$gutter}/2 ); }
		.xs_pl34 { left: calc( -75% + #{$gutter}/2 ); }
		.xs_pl16 { left: calc( -16.666666% + #{$gutter}/2 ); }
		.xs_pl56 { left: calc( -83.333333% + #{$gutter}/2 ); }

		.xs_sx12 { margin-right: calc( 50% + #{$gutter}/2 ); }
		.xs_sx13 { margin-right: calc( 33.333333% + #{$gutter}/2 ); }
		.xs_sx23 { margin-right: calc( 66.666666% + #{$gutter}/2 ); }
		.xs_sx14 { margin-right: calc( 25% + #{$gutter}/2 ); }
		.xs_sx34 { margin-right: calc( 75% + #{$gutter}/2 ); }
		.xs_sx16 { margin-right: calc( 16.666666% + #{$gutter}/2 ); }
		.xs_sx56 { margin-right: calc( 83.333333% + #{$gutter}/2 ); }
	}

	@media screen and (min-width: $sm) {
		.sm_s1 { width: 100%; }
		.sm_s12 { width: calc( 50% - #{$gutter}/2 ); }
		.sm_s13 { width: calc( 33.333333% - #{$gutter}/2 ); }
		.sm_s23 { width: calc( 66.666666% - #{$gutter}/2 ); }
		.sm_s14 { width: calc( 25% - #{$gutter}/2 ); }
		.sm_s34 { width: calc( 75% - #{$gutter}/2 ); }
		.sm_s16 { width: calc( 16.666666% - #{$gutter}/2 ); }
		.sm_s56 { width: calc( 83.333333% - #{$gutter}/2 ); }

		.sm_p12 { left: calc( 50% + #{$gutter}/2 ); }
		.sm_p13 { left: calc( 33.333333% + #{$gutter}/2 ); }
		.sm_p23 { left: calc( 66.666666% + #{$gutter}/2 ); }
		.sm_p14 { left: calc( 25% + #{$gutter}/2 ); }
		.sm_p34 { left: calc( 75% + #{$gutter}/2 ); }
		.sm_p16 { left: calc( 16.666666% + #{$gutter}/2 ); }
		.sm_p56 { left: calc( 83.333333% + #{$gutter}/2 ); }

		.sm_p12,
		.sm_p13,
		.sm_p23,
		.sm_p14,
		.sm_p34,
		.sm_p16,
		.sm_p56 {min-height: 1px;}

		.sm_pl12 { left: calc( -50% + #{$gutter}/2 ); }
		.sm_pl13 { left: calc( -33.333333% + #{$gutter}/2 ); }
		.sm_pl23 { left: calc( -66.666666% + #{$gutter}/2 ); }
		.sm_pl14 { left: calc( -25% + #{$gutter}/2 ); }
		.sm_pl34 { left: calc( -75% + #{$gutter}/2 ); }
		.sm_pl16 { left: calc( -16.666666% + #{$gutter}/2 ); }
		.sm_pl56 { left: calc( -83.333333% + #{$gutter}/2 ); }

		.sm_sx12 { margin-right: calc( 50% + #{$gutter}/2 ); }
		.sm_sx13 { margin-right: calc( 33.333333% + #{$gutter}/2 ); }
		.sm_sx23 { margin-right: calc( 66.666666% + #{$gutter}/2 ); }
		.sm_sx14 { margin-right: calc( 25% + #{$gutter}/2 ); }
		.sm_sx34 { margin-right: calc( 75% + #{$gutter}/2 ); }
		.sm_sx16 { margin-right: calc( 16.666666% + #{$gutter}/2 ); }
		.sm_sx56 { margin-right: calc( 83.333333% + #{$gutter}/2 ); }
	}

	@media screen and (min-width: $med) {
		.med_s1 { width: 100%; }
		.med_s12 { width: calc( 50% - #{$gutter}/2 ); }
		.med_s13 { width: calc( 33.333333% - #{$gutter}/2 ); }
		.med_s23 { width: calc( 66.666666% - #{$gutter}/2 ); }
		.med_s14 { width: calc( 25% - #{$gutter}/2 ); }
		.med_s34 { width: calc( 75% - #{$gutter}/2 ); }
		.med_s16 { width: calc( 16.666666% - #{$gutter}/2 ); }
		.med_s56 { width: calc( 83.333333% - #{$gutter}/2 ); }

		.med_p12 { left: calc( 50% + #{$gutter}/2 ); }
		.med_p13 { left: calc( 33.333333% + #{$gutter}/2 ); }
		.med_p23 { left: calc( 66.666666% + #{$gutter}/2 ); }
		.med_p14 { left: calc( 25% + #{$gutter}/2 ); }
		.med_p34 { left: calc( 75% + #{$gutter}/2 ); }
		.med_p16 { left: calc( 16.666666% + #{$gutter}/2 ); }
		.med_p56 { left: calc( 83.333333% + #{$gutter}/2 ); }

		.med_p12,
		.med_p13,
		.med_p23,
		.med_p14,
		.med_p34,
		.med_p16,
		.med_p56 {min-height: 1px;}

		.med_pl12 { left: calc( -50% + #{$gutter}/2 ); }
		.med_pl13 { left: calc( -33.333333% + #{$gutter}/2 ); }
		.med_pl23 { left: calc( -66.666666% + #{$gutter}/2 ); }
		.med_pl14 { left: calc( -25% + #{$gutter}/2 ); }
		.med_pl34 { left: calc( -75% + #{$gutter}/2 ); }
		.med_pl16 { left: calc( -16.666666% + #{$gutter}/2 ); }
		.med_pl56 { left: calc( -83.333333% + #{$gutter}/2 ); }

		.med_sx12 { margin-right: calc( 50% + #{$gutter}/2 ); }
		.med_sx13 { margin-right: calc( 33.333333% + #{$gutter}/2 ); }
		.med_sx23 { margin-right: calc( 66.666666% + #{$gutter}/2 ); }
		.med_sx14 { margin-right: calc( 25% + #{$gutter}/2 ); }
		.med_sx34 { margin-right: calc( 75% + #{$gutter}/2 ); }
		.med_sx16 { margin-right: calc( 16.666666% + #{$gutter}/2 ); }
		.med_sx56 { margin-right: calc( 83.333333% + #{$gutter}/2 ); }
	}

	@media screen and (min-width: $lg) {
		.lg_s1 { width: 100%; }
		.lg_s12 { width: calc( 50% - #{$gutter}/2 ); }
		.lg_s13 { width: calc( 33.333333% - #{$gutter}/2 ); }
		.lg_s23 { width: calc( 66.666666% - #{$gutter}/2 ); }
		.lg_s14 { width: calc( 25% - #{$gutter}/2 ); }
		.lg_s34 { width: calc( 75% - #{$gutter}/2 ); }
		.lg_s16 { width: calc( 16.666666% - #{$gutter}/2 ); }
		.lg_s56 { width: calc( 83.333333% - #{$gutter}/2 ); }

		.lg_p12 { left: calc( 50% + #{$gutter}/2 ); }
		.lg_p13 { left: calc( 33.333333% + #{$gutter}/2 ); }
		.lg_p23 { left: calc( 66.666666% + #{$gutter}/2 ); }
		.lg_p14 { left: calc( 25% + #{$gutter}/2 ); }
		.lg_p34 { left: calc( 75% + #{$gutter}/2 ); }
		.lg_p16 { left: calc( 16.666666% + #{$gutter}/2 ); }
		.lg_p56 { left: calc( 83.333333% + #{$gutter}/2 ); }

		.lg_p12,
		.lg_p13,
		.lg_p23,
		.lg_p14,
		.lg_p34,
		.lg_p16,
		.lg_p56 {min-height: 1px;}

		.lg_pl12 { left: calc( -50% + #{$gutter}/2 ); }
		.lg_pl13 { left: calc( -33.333333% + #{$gutter}/2 ); }
		.lg_pl23 { left: calc( -66.666666% + #{$gutter}/2 ); }
		.lg_pl14 { left: calc( -25% + #{$gutter}/2 ); }
		.lg_pl34 { left: calc( -75% + #{$gutter}/2 ); }
		.lg_pl16 { left: calc( -16.666666% + #{$gutter}/2 ); }
		.lg_pl56 { left: calc( -83.333333% + #{$gutter}/2 ); }

		.lg_sx12 { margin-right: calc( 50% + #{$gutter}/2 ); }
		.lg_sx13 { margin-right: calc( 33.333333% + #{$gutter}/2 ); }
		.lg_sx23 { margin-right: calc( 66.666666% + #{$gutter}/2 ); }
		.lg_sx14 { margin-right: calc( 25% + #{$gutter}/2 ); }
		.lg_sx34 { margin-right: calc( 75% + #{$gutter}/2 ); }
		.lg_sx16 { margin-right: calc( 16.666666% + #{$gutter}/2 ); }
		.lg_sx56 { margin-right: calc( 83.333333% + #{$gutter}/2 ); }
	}

	@media screen and (min-width: $xl) {
		.xl_s1 { width: 100%; }
		.xl_s12 { width: calc( 50% - #{$gutter}/2 ); }
		.xl_s13 { width: calc( 33.333333% - #{$gutter}/2 ); }
		.xl_s23 { width: calc( 66.666666% - #{$gutter}/2 ); }
		.xl_s14 { width: calc( 25% - #{$gutter}/2 ); }
		.xl_s34 { width: calc( 75% - #{$gutter}/2 ); }
		.xl_s16 { width: calc( 16.666666% - #{$gutter}/2 ); }
		.xl_s56 { width: calc( 83.333333% - #{$gutter}/2 ); }

		.xl_p12 { left: calc( 50% + #{$gutter}/2 ); }
		.xl_p13 { left: calc( 33.333333% + #{$gutter}/2 ); }
		.xl_p23 { left: calc( 66.666666% + #{$gutter}/2 ); }
		.xl_p14 { left: calc( 25% + #{$gutter}/2 ); }
		.xl_p34 { left: calc( 75% + #{$gutter}/2 ); }
		.xl_p16 { left: calc( 16.666666% + #{$gutter}/2 ); }
		.xl_p56 { left: calc( 83.333333% + #{$gutter}/2 ); }

		.xl_p12,
		.xl_p13,
		.xl_p23,
		.xl_p14,
		.xl_p34,
		.xl_p16,
		.xl_p56 {min-height: 1px;}

		.xl_pl12 { left: calc( -50% + #{$gutter}/2 ); }
		.xl_pl13 { left: calc( -33.333333% + #{$gutter}/2 ); }
		.xl_pl23 { left: calc( -66.666666% + #{$gutter}/2 ); }
		.xl_pl14 { left: calc( -25% + #{$gutter}/2 ); }
		.xl_pl34 { left: calc( -75% + #{$gutter}/2 ); }
		.xl_pl16 { left: calc( -16.666666% + #{$gutter}/2 ); }
		.xl_pl56 { left: calc( -83.333333% + #{$gutter}/2 ); }

		.xl_sx12 { margin-right: calc( 50% + #{$gutter}/2 ); }
		.xl_sx13 { margin-right: calc( 33.333333% + #{$gutter}/2 ); }
		.xl_sx23 { margin-right: calc( 66.666666% + #{$gutter}/2 ); }
		.xl_sx14 { margin-right: calc( 25% + #{$gutter}/2 ); }
		.xl_sx34 { margin-right: calc( 75% + #{$gutter}/2 ); }
		.xl_sx16 { margin-right: calc( 16.666666% + #{$gutter}/2 ); }
		.xl_sx56 { margin-right: calc( 83.333333% + #{$gutter}/2 ); }
	}

	@media screen and (min-width: $xxl) {
		.xxl_s1 { width: 100%; }
		.xxl_s12 { width: calc( 50% - #{$gutter}/2 ); }
		.xxl_s13 { width: calc( 33.333333% - #{$gutter}/2 ); }
		.xxl_s23 { width: calc( 66.666666% - #{$gutter}/2 ); }
		.xxl_s14 { width: calc( 25% - #{$gutter}/2 ); }
		.xxl_s34 { width: calc( 75% - #{$gutter}/2 ); }
		.xxl_s16 { width: calc( 16.666666% - #{$gutter}/2 ); }
		.xxl_s56 { width: calc( 83.333333% - #{$gutter}/2 ); }

		.xxl_p12 { left: calc( 50% + #{$gutter}/2 ); }
		.xxl_p13 { left: calc( 33.333333% + #{$gutter}/2 ); }
		.xxl_p23 { left: calc( 66.666666% + #{$gutter}/2 ); }
		.xxl_p14 { left: calc( 25% + #{$gutter}/2 ); }
		.xxl_p34 { left: calc( 75% + #{$gutter}/2 ); }
		.xxl_p16 { left: calc( 16.666666% + #{$gutter}/2 ); }
		.xxl_p56 { left: calc( 83.333333% + #{$gutter}/2 ); }

		.xxl_p12,
		.xxl_p13,
		.xxl_p23,
		.xxl_p14,
		.xxl_p34,
		.xxl_p16,
		.xxl_p56 {min-height: 1px;}

		.xxl_pl12 { left: calc( -50% + #{$gutter}/2 ); }
		.xxl_pl13 { left: calc( -33.333333% + #{$gutter}/2 ); }
		.xxl_pl23 { left: calc( -66.666666% + #{$gutter}/2 ); }
		.xxl_pl14 { left: calc( -25% + #{$gutter}/2 ); }
		.xxl_pl34 { left: calc( -75% + #{$gutter}/2 ); }
		.xxl_pl16 { left: calc( -16.666666% + #{$gutter}/2 ); }
		.xxl_pl56 { left: calc( -83.333333% + #{$gutter}/2 ); }

		.xxl_sx12 { margin-right: calc( 50% + #{$gutter}/2 ); }
		.xxl_sx13 { margin-right: calc( 33.333333% + #{$gutter}/2 ); }
		.xxl_sx23 { margin-right: calc( 66.666666% + #{$gutter}/2 ); }
		.xxl_sx14 { margin-right: calc( 25% + #{$gutter}/2 ); }
		.xxl_sx34 { margin-right: calc( 75% + #{$gutter}/2 ); }
		.xxl_sx16 { margin-right: calc( 16.666666% + #{$gutter}/2 ); }
		.xxl_sx56 { margin-right: calc( 83.333333% + #{$gutter}/2 ); }
	}
}



/**
 * Float based grid layouts, by default.
 */
.s1 {width: 100%; float: none;}
.s12 { width: 50%;}
.s13 { width: 33.333333%; }
.s23 { width: 66.666666%; }
.s14 { width: 25%; }
.s34 { width: 75%; }
.s16 { width: 16.666666%; }
.s56 { width: 83.333333%; }

.p12 { left: 50%; }
.p13 { left: 33.333333%; }
.p23 { left: 66.666666%; }
.p14 { left: 25%; }
.p34 { left: 75%; }
.p16 { left: 16.666666%; }
.p56 { left: 83.333333%; }

.p12,
.p13,
.p23,
.p14,
.p34,
.p16,
.p56 {min-height: 1px;}

.pl12 { left: -50%; }
.pl13 { left: -33.333333%; }
.pl23 { left: -66.666666%; }
.pl14 { left: -25%; }
.pl34 { left: -75%; }
.pl16 { left: -16.666666%; }
.pl56 { left: -83.333333%; }

.sx12 { margin-right: 50%; }
.sx13 { margin-right: 33.333333%; }
.sx23 { margin-right: 66.666666%; }
.sx14 { margin-right: 25%; }
.sx34 { margin-right: 75%; }
.sx16 { margin-right: 16.666666%; }
.sx56 { margin-right: 83.333333%; }

@media screen and (min-width: $xs) {
	.xs_s1 {width: 100%; float: none;}
	.xs_s12 { width: 50%; }
	.xs_s13 { width: 33.333333%; }
	.xs_s23 { width: 66.666666%; }
	.xs_s14 { width: 25%; }
	.xs_s34 { width: 75%; }
	.xs_s16 { width: 16.666666%; }
	.xs_s56 { width: 83.333333%; }

	.xs_p12 { left: 50%; }
	.xs_p13 { left: 33.333333%; }
	.xs_p23 { left: 66.666666%; }
	.xs_p14 { left: 25%; }
	.xs_p34 { left: 75%; }
	.xs_p16 { left: 16.666666%; }
	.xs_p56 { left: 83.333333%; }

	.xs_p12,
	.xs_p13,
	.xs_p23,
	.xs_p14,
	.xs_p34,
	.xs_p16,
	.xs_p56 {min-height: 1px;}

	.xs_pl12 { left: -50%; }
	.xs_pl13 { left: -33.333333%; }
	.xs_pl23 { left: -66.666666%; }
	.xs_pl14 { left: -25%; }
	.xs_pl34 { left: -75%; }
	.xs_pl16 { left: -16.666666%; }
	.xs_pl56 { left: -83.333333%; }

	.xs_sx12 { margin-right: 50%; }
	.xs_sx13 { margin-right: 33.333333%; }
	.xs_sx23 { margin-right: 66.666666%; }
	.xs_sx14 { margin-right: 25%; }
	.xs_sx34 { margin-right: 75%; }
	.xs_sx16 { margin-right: 16.666666%; }
	.xs_sx56 { margin-right: 83.333333%; }
}

@media screen and (min-width: $sm) {
	.sm_s1 {width: 100%; float: none;}
	.sm_s12 { width: 50%; }
	.sm_s13 { width: 33.333333%; }
	.sm_s23 { width: 66.666666%; }
	.sm_s14 { width: 25%; }
	.sm_s34 { width: 75%; }
	.sm_s16 { width: 16.666666%; }
	.sm_s56 { width: 83.333333%; }

	.sm_p12 { left: 50%; }
	.sm_p13 { left: 33.333333%; }
	.sm_p23 { left: 66.666666%; }
	.sm_p14 { left: 25%; }
	.sm_p34 { left: 75%; }
	.sm_p16 { left: 16.666666%; }
	.sm_p56 { left: 83.333333%; }

	.sm_p12,
	.sm_p13,
	.sm_p23,
	.sm_p14,
	.sm_p34,
	.sm_p16,
	.sm_p56 {min-height: 1px;}

	.sm_pl12 { left: -50%; }
	.sm_pl13 { left: -33.333333%; }
	.sm_pl23 { left: -66.666666%; }
	.sm_pl14 { left: -25%; }
	.sm_pl34 { left: -75%; }
	.sm_pl16 { left: -16.666666%; }
	.sm_pl56 { left: -83.333333%; }

	.sm_sx12 { margin-right: 50%; }
	.sm_sx13 { margin-right: 33.333333%; }
	.sm_sx23 { margin-right: 66.666666%; }
	.sm_sx14 { margin-right: 25%; }
	.sm_sx34 { margin-right: 75%; }
	.sm_sx16 { margin-right: 16.666666%; }
	.sm_sx56 { margin-right: 83.333333%; }
}

@media screen and (min-width: $med) {
	.med_s1 {width: 100%; float: none;}
	.med_s12 { width: 50%; }
	.med_s13 { width: 33.333333%; }
	.med_s23 { width: 66.666666%; }
	.med_s14 { width: 25%; }
	.med_s34 { width: 75%; }
	.med_s16 { width: 16.666666%; }
	.med_s56 { width: 83.333333%; }

	.med_p12 { left: 50%; }
	.med_p13 { left: 33.333333%; }
	.med_p23 { left: 66.666666%; }
	.med_p14 { left: 25%; }
	.med_p34 { left: 75%; }
	.med_p16 { left: 16.666666%; }
	.med_p56 { left: 83.333333%; }

	.med_p12,
	.med_p13,
	.med_p23,
	.med_p14,
	.med_p34,
	.med_p16,
	.med_p56 {min-height: 1px;}

	.med_pl12 { left: -50%; }
	.med_pl13 { left: -33.333333%; }
	.med_pl23 { left: -66.666666%; }
	.med_pl14 { left: -25%; }
	.med_pl34 { left: -75%; }
	.med_pl16 { left: -16.666666%; }
	.med_pl56 { left: -83.333333%; }

	.med_sx12 { margin-right: 50%; }
	.med_sx13 { margin-right: 33.333333%; }
	.med_sx23 { margin-right: 66.666666%; }
	.med_sx14 { margin-right: 25%; }
	.med_sx34 { margin-right: 75%; }
	.med_sx16 { margin-right: 16.666666%; }
	.med_sx56 { margin-right: 83.333333%; }
}

@media screen and (min-width: $lg) {
	.lg_s1 {width: 100%; float: none;}
	.lg_s12 { width: 50%; }
	.lg_s13 { width: 33.333333%; }
	.lg_s23 { width: 66.666666%; }
	.lg_s14 { width: 25%; }
	.lg_s34 { width: 75%; }
	.lg_s16 { width: 16.666666%; }
	.lg_s56 { width: 83.333333%; }

	.lg_p12 { left: 50%; }
	.lg_p13 { left: 33.333333%; }
	.lg_p23 { left: 66.666666%; }
	.lg_p14 { left: 25%; }
	.lg_p34 { left: 75%; }
	.lg_p16 { left: 16.666666%; }
	.lg_p56 { left: 83.333333%; }

	.lg_p12,
	.lg_p13,
	.lg_p23,
	.lg_p14,
	.lg_p34,
	.lg_p16,
	.lg_p56 {min-height: 1px;}

	.lg_pl12 { left: -50%; }
	.lg_pl13 { left: -33.333333%; }
	.lg_pl23 { left: -66.666666%; }
	.lg_pl14 { left: -25%; }
	.lg_pl34 { left: -75%; }
	.lg_pl16 { left: -16.666666%; }
	.lg_pl56 { left: -83.333333%; }

	.lg_sx12 { margin-right: 50%; }
	.lg_sx13 { margin-right: 33.333333%; }
	.lg_sx23 { margin-right: 66.666666%; }
	.lg_sx14 { margin-right: 25%; }
	.lg_sx34 { margin-right: 75%; }
	.lg_sx16 { margin-right: 16.666666%; }
	.lg_sx56 { margin-right: 83.333333%; }
}

@media screen and (min-width: $xl) {
	.xl_s1 {width: 100%; float: none;}
	.xl_s12 { width: 50%; }
	.xl_s13 { width: 33.333333%; }
	.xl_s23 { width: 66.666666%; }
	.xl_s14 { width: 25%; }
	.xl_s34 { width: 75%; }
	.xl_s16 { width: 16.666666%; }
	.xl_s56 { width: 83.333333%; }

	.xl_p12 { left: 50%; }
	.xl_p13 { left: 33.333333%; }
	.xl_p23 { left: 66.666666%; }
	.xl_p14 { left: 25%; }
	.xl_p34 { left: 75%; }
	.xl_p16 { left: 16.666666%; }
	.xl_p56 { left: 83.333333%; }

	.xl_p12,
	.xl_p13,
	.xl_p23,
	.xl_p14,
	.xl_p34,
	.xl_p16,
	.xl_p56 {min-height: 1px;}

	.xl_pl12 { left: -50%; }
	.xl_pl13 { left: -33.333333%; }
	.xl_pl23 { left: -66.666666%; }
	.xl_pl14 { left: -25%; }
	.xl_pl34 { left: -75%; }
	.xl_pl16 { left: -16.666666%; }
	.xl_pl56 { left: -83.333333%; }

	.xl_sx12 { margin-right: 50%; }
	.xl_sx13 { margin-right: 33.333333%; }
	.xl_sx23 { margin-right: 66.666666%; }
	.xl_sx14 { margin-right: 25%; }
	.xl_sx34 { margin-right: 75%; }
	.xl_sx16 { margin-right: 16.666666%; }
	.xl_sx56 { margin-right: 83.333333%; }
}

@media screen and (min-width: $xxl) {
	.xxl_s1 {width: 100%; float: none;}
	.xxl_s12 { width: 50%; }
	.xxl_s13 { width: 33.333333%; }
	.xxl_s23 { width: 66.666666%; }
	.xxl_s14 { width: 25%; }
	.xxl_s34 { width: 75%; }
	.xxl_s16 { width: 16.666666%; }
	.xxl_s56 { width: 83.333333%; }

	.xxl_p12 { left: 50%; }
	.xxl_p13 { left: 33.333333%; }
	.xxl_p23 { left: 66.666666%; }
	.xxl_p14 { left: 25%; }
	.xxl_p34 { left: 75%; }
	.xxl_p16 { left: 16.666666%; }
	.xxl_p56 { left: 83.333333%; }

	.xxl_p12,
	.xxl_p13,
	.xxl_p23,
	.xxl_p14,
	.xxl_p34,
	.xxl_p16,
	.xxl_p56 {min-height: 1px;}

	.xxl_pl12 { left: -50%; }
	.xxl_pl13 { left: -33.333333%; }
	.xxl_pl23 { left: -66.666666%; }
	.xxl_pl14 { left: -25%; }
	.xxl_pl34 { left: -75%; }
	.xxl_pl16 { left: -16.666666%; }
	.xxl_pl56 { left: -83.333333%; }

	.xxl_sx12 { margin-right: 50%; }
	.xxl_sx13 { margin-right: 33.333333%; }
	.xxl_sx23 { margin-right: 66.666666%; }
	.xxl_sx14 { margin-right: 25%; }
	.xxl_sx34 { margin-right: 75%; }
	.xxl_sx16 { margin-right: 16.666666%; }
	.xxl_sx56 { margin-right: 83.333333%; }
}