.grid {
    @extend .block-relative;

    margin: auto;
    overflow-x: hidden;
    width: 100%;
}

.grid--l {
	@extend .grid;

	width: 90%;

    @media screen and (min-width: $breakpoint_xs) {
        width: 92.5%;
    }
    @media screen and (min-width: $breakpoint_m) {
        width: 95%;
    }
}

.grid--m {
	@extend .grid;

	width: 90%;

    @media screen and (min-width: $breakpoint_xs) {
        width: 82.5%;
    }
    @media screen and (min-width: $breakpoint_m) {
        width: 75%;
    }
}

.grid--s {
	@extend .grid;

    width: 90%;

    @media screen and (min-width: $breakpoint_m) {
        width: 80%;
    }
    @media screen and (min-width: $breakpoint_l) {
        width: 66%;
    }
}

.row {
	@extend .block-relative;

	margin: 0 auto;

	&::before,
    &::after {
      content: " "; /* 1 */
      display: table; /* 2 */
    }

    &::after {
      clear: both;
    }

    .has-gutter--s & {
		margin-left: $spacing_sm_neg;
		margin-right: $spacing_sm_neg;
    }
    .has-gutter--m & {
    	margin-left: $spacing_med_neg; 
		margin-right: $spacing_med_neg; 
    }
    .has-gutter--l & {
    	margin-left: $spacing_lg_neg;
		margin-right: $spacing_lg_neg;
    }
}

.col { 
	@extend .block-relative;

	float: left;
	min-height: 1px;

	.has-gutter--s & {
		padding-left: $spacing_sm;
		padding-right: $spacing_sm;
    }
    .has-gutter--m & {
    	padding-left: $spacing_med; 
		padding-right: $spacing_med; 
    }
    .has-gutter--l & {
    	padding-left: $spacing_lg; 
		padding-right: $spacing_lg; 
    }
}

.s1 {width: 100%;}
.s12 { width: 50%;}
.s13 { width: 33.333333%; }
.s23 { width: 66.666666%; }
.s14 { width: 25%; }
.s34 { width: 75%; }
.s16 { width: 16.666666%; }
.s56 { width: 83.333333%; }

.p12 { left: 50%; }
.p13 { left: 33.333333%; }
.p23 { left: 66.666666%; }
.p14 { left: 25%; }
.p34 { left: 75%; }
.p16 { left: 16.666666%; }
.p56 { left: 83.333333%; }

.p12,
.p13,
.p23,
.p14,
.p34,
.p16,
.p56 {min-height: 1px;}

.pl12 { left: -50%; }
.pl13 { left: -33.333333%; }
.pl23 { left: -66.666666%; }
.pl14 { left: -25%; }
.pl34 { left: -75%; }
.pl16 { left: -16.666666%; }
.pl56 { left: -83.333333%; }

.sx12 { margin-right: 50%; }
.sx13 { margin-right: 33.333333%; }
.sx23 { margin-right: 66.666666%; }
.sx14 { margin-right: 25%; }
.sx34 { margin-right: 75%; }
.sx16 { margin-right: 16.666666%; }
.sx56 { margin-right: 83.333333%; }

@media screen and (min-width: $breakpoint_xs) {
	.s1_xs {width: 100%;}
	.s12_xs { width: 50%; }
	.s13_xs { width: 33.333333%; }
	.s23_xs { width: 66.666666%; }
	.s14_xs { width: 25%; }
	.s34_xs { width: 75%; }
	.s16_xs { width: 16.666666%; }
	.s56_xs { width: 83.333333%; }

	.p12_xs { left: 50%; }
	.p13_xs { left: 33.333333%; }
	.p23_xs { left: 66.666666%; }
	.p14_xs { left: 25%; }
	.p34_xs { left: 75%; }
	.p16_xs { left: 16.666666%; }
	.p56_xs { left: 83.333333%; }

	.p12_xs,
	.p13_xs,
	.p23_xs,
	.p14_xs,
	.p34_xs,
	.p16_xs,
	.p56_xs {min-height: 1px;}

	.pl12_xs { left: -50%; }
	.pl13_xs { left: -33.333333%; }
	.pl23_xs { left: -66.666666%; }
	.pl14_xs { left: -25%; }
	.pl34_xs { left: -75%; }
	.pl16_xs { left: -16.666666%; }
	.pl56_xs { left: -83.333333%; }

	.sx12_xs { margin-right: 50%; }
	.sx13_xs { margin-right: 33.333333%; }
	.sx23_xs { margin-right: 66.666666%; }
	.sx14_xs { margin-right: 25%; }
	.sx34_xs { margin-right: 75%; }
	.sx16_xs { margin-right: 16.666666%; }
	.sx56_xs { margin-right: 83.333333%; }
}

@media screen and (min-width: $breakpoint_s) {
	.s1_s {width: 100%;}
	.s12_s { width: 50%; }
	.s13_s { width: 33.333333%; }
	.s23_s { width: 66.666666%; }
	.s14_s { width: 25%; }
	.s34_s { width: 75%; }
	.s16_s { width: 16.666666%; }
	.s56_s { width: 83.333333%; }

	.p12_s { left: 50%; }
	.p13_s { left: 33.333333%; }
	.p23_s { left: 66.666666%; }
	.p14_s { left: 25%; }
	.p34_s { left: 75%; }
	.p16_s { left: 16.666666%; }
	.p56_s { left: 83.333333%; }

	.p12_s,
	.p13_s,
	.p23_s,
	.p14_s,
	.p34_s,
	.p16_s,
	.p56_s {min-height: 1px;}

	.pl12_s { left: -50%; }
	.pl13_s { left: -33.333333%; }
	.pl23_s { left: -66.666666%; }
	.pl14_s { left: -25%; }
	.pl34_s { left: -75%; }
	.pl16_s { left: -16.666666%; }
	.pl56_s { left: -83.333333%; }

	.sx12_s { margin-right: 50%; }
	.sx13_s { margin-right: 33.333333%; }
	.sx23_s { margin-right: 66.666666%; }
	.sx14_s { margin-right: 25%; }
	.sx34_s { margin-right: 75%; }
	.sx16_s { margin-right: 16.666666%; }
	.sx56_s { margin-right: 83.333333%; }
}

@media screen and (min-width: $breakpoint_m) {
	.s1_m {width: 100%;}
	.s12_m { width: 50%; }
	.s13_m { width: 33.333333%; }
	.s23_m { width: 66.666666%; }
	.s14_m { width: 25%; }
	.s34_m { width: 75%; }
	.s16_m { width: 16.666666%; }
	.s56_m { width: 83.333333%; }

	.p12_m { left: 50%; }
	.p13_m { left: 33.333333%; }
	.p23_m { left: 66.666666%; }
	.p14_m { left: 25%; }
	.p34_m { left: 75%; }
	.p16_m { left: 16.666666%; }
	.p56_m { left: 83.333333%; }

	.p12_m,
	.p13_m,
	.p23_m,
	.p14_m,
	.p34_m,
	.p16_m,
	.p56_m {min-height: 1px;}

	.pl12_m { left: -50%; }
	.pl13_m { left: -33.333333%; }
	.pl23_m { left: -66.666666%; }
	.pl14_m { left: -25%; }
	.pl34_m { left: -75%; }
	.pl16_m { left: -16.666666%; }
	.pl56_m { left: -83.333333%; }

	.sx12_m { margin-right: 50%; }
	.sx13_m { margin-right: 33.333333%; }
	.sx23_m { margin-right: 66.666666%; }
	.sx14_m { margin-right: 25%; }
	.sx34_m { margin-right: 75%; }
	.sx16_m { margin-right: 16.666666%; }
	.sx56_m { margin-right: 83.333333%; }
}

@media screen and (min-width: $breakpoint_l) {
	.s1_l {width: 100%;}
	.s12_l { width: 50%; }
	.s13_l { width: 33.333333%; }
	.s23_l { width: 66.666666%; }
	.s14_l { width: 25%; }
	.s34_l { width: 75%; }
	.s16_l { width: 16.666666%; }
	.s56_l { width: 83.333333%; }

	.p12_l { left: 50%; }
	.p13_l { left: 33.333333%; }
	.p23_l { left: 66.666666%; }
	.p14_l { left: 25%; }
	.p34_l { left: 75%; }
	.p16_l { left: 16.666666%; }
	.p56_l { left: 83.333333%; }

	.p12_l,
	.p13_l,
	.p23_l,
	.p14_l,
	.p34_l,
	.p16_l,
	.p56_l {min-height: 1px;}

	.pl12_l { left: -50%; }
	.pl13_l { left: -33.333333%; }
	.pl23_l { left: -66.666666%; }
	.pl14_l { left: -25%; }
	.pl34_l { left: -75%; }
	.pl16_l { left: -16.666666%; }
	.pl56_l { left: -83.333333%; }

	.sx12_l { margin-right: 50%; }
	.sx13_l { margin-right: 33.333333%; }
	.sx23_l { margin-right: 66.666666%; }
	.sx14_l { margin-right: 25%; }
	.sx34_l { margin-right: 75%; }
	.sx16_l { margin-right: 16.666666%; }
	.sx56_l { margin-right: 83.333333%; }
}

@media screen and (min-width: $breakpoint_xl) {
	.s1_xl {width: 100%;}
	.s12_xl { width: 50%; }
	.s13_xl { width: 33.333333%; }
	.s23_xl { width: 66.666666%; }
	.s14_xl { width: 25%; }
	.s34_xl { width: 75%; }
	.s16_xl { width: 16.666666%; }
	.s56_xl { width: 83.333333%; }

	.p12_xl { left: 50%; }
	.p13_xl { left: 33.333333%; }
	.p23_xl { left: 66.666666%; }
	.p14_xl { left: 25%; }
	.p34_xl { left: 75%; }
	.p16_xl { left: 16.666666%; }
	.p56_xl { left: 83.333333%; }

	.p12_xl,
	.p13_xl,
	.p23_xl,
	.p14_xl,
	.p34_xl,
	.p16_xl,
	.p56_xl {min-height: 1px;}

	.pl12_xl { left: -50%; }
	.pl13_xl { left: -33.333333%; }
	.pl23_xl { left: -66.666666%; }
	.pl14_xl { left: -25%; }
	.pl34_xl { left: -75%; }
	.pl16_xl { left: -16.666666%; }
	.pl56_xl { left: -83.333333%; }

	.sx12_xl { margin-right: 50%; }
	.sx13_xl { margin-right: 33.333333%; }
	.sx23_xl { margin-right: 66.666666%; }
	.sx14_xl { margin-right: 25%; }
	.sx34_xl { margin-right: 75%; }
	.sx16_xl { margin-right: 16.666666%; }
	.sx56_xl { margin-right: 83.333333%; }
}

@media screen and (min-width: $breakpoint_xxl) {
	.s1_xxl {width: 100%;}
	.s12_xxl { width: 50%; }
	.s13_xxl { width: 33.333333%; }
	.s23_xxl { width: 66.666666%; }
	.s14_xxl { width: 25%; }
	.s34_xxl { width: 75%; }
	.s16_xxl { width: 16.666666%; }
	.s56_xxl { width: 83.333333%; }

	.p12_xxl { left: 50%; }
	.p13_xxl { left: 33.333333%; }
	.p23_xxl { left: 66.666666%; }
	.p14_xxl { left: 25%; }
	.p34_xxl { left: 75%; }
	.p16_xxl { left: 16.666666%; }
	.p56_xxl { left: 83.333333%; }

	.p12_xxl,
	.p13_xxl,
	.p23_xxl,
	.p14_xxl,
	.p34_xxl,
	.p16_xxl,
	.p56_xxl {min-height: 1px;}

	.pl12_xxl { left: -50%; }
	.pl13_xxl { left: -33.333333%; }
	.pl23_xxl { left: -66.666666%; }
	.pl14_xxl { left: -25%; }
	.pl34_xxl { left: -75%; }
	.pl16_xxl { left: -16.666666%; }
	.pl56_xxl { left: -83.333333%; }

	.sx12_xxl { margin-right: 50%; }
	.sx13_xxl { margin-right: 33.333333%; }
	.sx23_xxl { margin-right: 66.666666%; }
	.sx14_xxl { margin-right: 25%; }
	.sx34_xxl { margin-right: 75%; }
	.sx16_xxl { margin-right: 16.666666%; }
	.sx56_xxl { margin-right: 83.333333%; }
}