/*
 * Grid Components
 *
 * The building blocks of the grid.
 */
.grid {
    @extend .block-relative;

    margin: auto;
    overflow-x: hidden;
    width: 100%;
}

.grid--l {
	@extend .grid;

	width: 90%;

    @media (min-width: break(xs)) {
        width: 92.5%;
    }
    @media (min-width: break(m)) {
        width: 95%;
    }
}

.grid--m {
	@extend .grid;

	width: 90%;

    @media (min-width: break(xs)) {
        width: 82.5%;
    }
    @media (min-width: break(m)) {
        width: 75%;
    }
}

.grid--s {
	@extend .grid;

    width: 90%;

    @media (min-width: break(xs)) {
        width: 80%;
    }
    @media (min-width: break(m)) {
        width: 66%;
    }
}

.row {
	@extend .block-relative;

	margin: 0 auto;

	&::before,
    &::after {
      content: " ";
      display: table;
    }

    &::after {
      clear: both;
    }

    .has-gutter--s & {
		margin-left: calc(-1 * #{s(s)});
		margin-right: calc(-1 * #{s(s)});
    }
    .has-gutter--m & {
    	margin-left: calc(-1 * #{s(m)});
		margin-right: calc(-1 * #{s(m)});
    }
    .has-gutter--l & {
    	margin-left: calc(-1 * #{s(l)});
		margin-right: calc(-1 * #{s(l)});
    }
}

.col { 
	@extend .block-relative;

	float: left;
	min-height: 1px;

	.has-gutter--s & {
		padding-left: s(s);
		padding-right: s(s);
    }
    .has-gutter--m & {
    	padding-left: s(m); 
		padding-right: s(m); 
    }
    .has-gutter--l & {
    	padding-left: s(l); 
		padding-right: s(l); 
    }
}