$gutter: 10px; // where should this go?

.container {
    @include blockRel;

    overflow-x: hidden;

    &.gutter {
        margin: 0 -$gutter;

        .row {
            border-spacing: $gutter 0;
        }
    }
}

.row {
	display: table;
	table-layout: fixed; 
	width: 100%; 
}

.col { 
	display: table-cell; 
}

.s1 {width: 100%;}
.s12 { width: 50%;}
.s13 { width: 33.333333%; }
.s23 { width: 66.666666%; }
.s14 { width: 25%; }
.s34 { width: 75%; }
.s16 { width: 16.666666%; }
.s56 { width: 83.333333%; }

@media screen and (min-width: $xs) {
	.xs_s1 {width: 100%;}
	.xs_s12 { width: 50%; }
	.xs_s13 { width: 33.333333%; }
	.xs_s23 { width: 66.666666%; }
	.xs_s14 { width: 25%; }
	.xs_s34 { width: 75%; }
	.xs_s16 { width: 16.666666%; }
	.xs_s56 { width: 83.333333%; }
}

@media screen and (min-width: $sm) {
	.sm_s1 {width: 100%;}
	.sm_s12 { width: 50%; }
	.sm_s13 { width: 33.333333%; }
	.sm_s23 { width: 66.666666%; }
	.sm_s14 { width: 25%; }
	.sm_s34 { width: 75%; }
	.sm_s16 { width: 16.666666%; }
	.sm_s56 { width: 83.333333%; }
}

@media screen and (min-width: $med) {
	.med_s1 {width: 100%;}
	.med_s12 { width: 50%; }
	.med_s13 { width: 33.333333%; }
	.med_s23 { width: 66.666666%; }
	.med_s14 { width: 25%; }
	.med_s34 { width: 75%; }
	.med_s16 { width: 16.666666%; }
	.med_s56 { width: 83.333333%; }
}

@media screen and (min-width: $lg) {
	.lg_s1 {width: 100%;}
	.lg_s12 { width: 50%; }
	.lg_s13 { width: 33.333333%; }
	.lg_s23 { width: 66.666666%; }
	.lg_s14 { width: 25%; }
	.lg_s34 { width: 75%; }
	.lg_s16 { width: 16.666666%; }
	.lg_s56 { width: 83.333333%; }
}

@media screen and (min-width: $xl) {
	.xl_s1 {width: 100%;}
	.xl_s12 { width: 50%; }
	.xl_s13 { width: 33.333333%; }
	.xl_s23 { width: 66.666666%; }
	.xl_s14 { width: 25%; }
	.xl_s34 { width: 75%; }
	.xl_s16 { width: 16.666666%; }
	.xl_s56 { width: 83.333333%; }
}

@media screen and (min-width: $xxl) {
	.xxl_s1 {width: 100%;}
	.xxl_s12 { width: 50%; }
	.xxl_s13 { width: 33.333333%; }
	.xxl_s23 { width: 66.666666%; }
	.xxl_s14 { width: 25%; }
	.xxl_s34 { width: 75%; }
	.xxl_s16 { width: 16.666666%; }
	.xxl_s56 { width: 83.333333%; }
}