.height-s1 {
	min-height: 100vh;
}
.height-s12 {
	min-height: 50vh;
}
.height-s13 {
	min-height: 33.333333vh;
}
.height-s23 {
	min-height: 66.666666vh;
}
.height-s14 {
	min-height: 25vh;
}
.height-s34 {
	min-height: 75vh;
}
@media (min-width: $breakpoint-xs){
	.height-s1-xs {
		min-height: 100vh;
	}
	.height-s12-xs {
		min-height: 50vh;
	}
	.height-s13-xs {
		min-height: 33.333333vh;
	}
	.height-s23-xs {
		min-height: 66.666666vh;
	}
	.height-s14-xs {
		min-height: 25vh;
	}
	.height-s34-xs {
		min-height: 75vh;
	}
}
@media (min-width: $breakpoint-s){
	.height-s1-s {
		min-height: 100vh;
	}
	.height-s12-s {
		min-height: 50vh;
	}
	.height-s13-s {
		min-height: 33.333333vh;
	}
	.height-s23-s {
		min-height: 66.666666vh;
	}
	.height-s14-s {
		min-height: 25vh;
	}
	.height-s34-s {
		min-height: 75vh;
	}
}
@media (min-width: $breakpoint-m){
	.height-s1-m {
		min-height: 100vh;
	}
	.height-s12-m {
		min-height: 50vh;
	}
	.height-s13-m {
		min-height: 33.333333vh;
	}
	.height-s23-m {
		min-height: 66.666666vh;
	}
	.height-s14-m {
		min-height: 25vh;
	}
	.height-s34-m {
		min-height: 75vh;
	}	
}
@media (min-width: $breakpoint-l){
	.height-s1-l {
		min-height: 100vh;
	}
	.height-s12-l {
		min-height: 50vh;
	}
	.height-s13-l {
		min-height: 33.333333vh;
	}
	.height-s23-l {
		min-height: 66.666666vh;
	}
	.height-s14-l {
		min-height: 25vh;
	}
	.height-s34-l {
		min-height: 75vh;
	}	
}
@media (min-width: $breakpoint-xl){
	.height-s1-xl {
		min-height: 100vh;
	}
	.height-s12-xl {
		min-height: 50vh;
	}
	.height-s13-xl {
		min-height: 33.333333vh;
	}
	.height-s23-xl {
		min-height: 66.666666vh;
	}
	.height-s14-xl {
		min-height: 25vh;
	}
	.height-s34-xl {
		min-height: 75vh;
	}	
}