.hide {
  display: none;
}
@media (min-width: $breakpoint_xs){
  .hide_xs {
    display: none;
  }
}
@media (min-width: $breakpoint_s){
  .hide_s {
    display: none;
  }
}
@media (min-width: $breakpoint_m){
  .hide_m {
    display: none;
  }
}
@media (min-width: $breakpoint_l){
  .hide_l {
    display: none;
  }
}
@media (min-width: $breakpoint_xl){
  .hide_xl {
    display: none;
  }
}
@media (min-width: $breakpoint_xxl){
  .hide_xxl {
    display: none;
  }
}