.hide {
  display: none;
}
@media (min-width: $xs){
  .hide_xs {
    display: none;
  }
}
@media (min-width: $sm){
  .hide_sm {
    display: none;
  }
}
@media (min-width: $med){
  .hide_med {
    display: none;
  }
}
@media (min-width: $lg){
  .hide_lg {
    display: none;
  }
}
@media (min-width: $xl){
  .hide_xl {
    display: none;
  }
}
@media (min-width: $xxl){
  .hide_xxl {
    display: none;
  }
}