.hide {
  display: none;
}
@media (min-width: $breakpoint-xs){
  .hide-xs {
    display: none;
  }
}
@media (min-width: $breakpoint-s){
  .hide-s {
    display: none;
  }
}
@media (min-width: $breakpoint-m){
  .hide-m {
    display: none;
  }
}
@media (min-width: $breakpoint-l){
  .hide-l {
    display: none;
  }
}
@media (min-width: $breakpoint-xl){
  .hide-xl {
    display: none;
  }
}
@media (min-width: $breakpoint-xxl){
  .hide-xxl {
    display: none;
  }
}