.bg-cover {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Add HTML markup and these styles will fill the parent element with a full background.
NOTE: must specify z-index values for siblings.*/
.bg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 0;
}
.bg-image {
    background-color: $c3;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 0;
}

.bg-overlay {
    background-color: rgba(0,0,0,0); // change this to affect color/opacity over images
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
}