blockquote {
}
ul, ol {
    margin: 0 0 1.6rem;
    padding: 0 0 0 3rem;
}
li {
}
pre {
	@extend .type-monospace;

    overflow: auto;
    overflow-y: hidden;
}
code {
    @extend .type-monospace;
}
figure {
    max-width: 100%;

    img {
        height: auto !important;
        max-width: 100%;
        width: 100%;
    }

    figcaption {
        max-width: 500px;
    }
}
hr {
    border: 0;
    height: 2px;
}