$spacing_base:  2.2rem;
$factor: 2.4;

$spacing_xs: calc(#{$spacing_base} / ( #{$factor} * #{$factor} ) );
$spacing_sm: calc(#{$spacing_base} / #{$factor});
$spacing_med: $spacing_base;
$spacing_lg: calc(#{$spacing_base} * #{$factor});
$spacing_xl: calc(#{$spacing_base} * ( #{$factor} * #{$factor}) );

$spacing_xs_neg: calc(-1 * #{$spacing_base} / ( #{$factor} * #{$factor} ) );
$spacing_sm_neg: calc(-1 * #{$spacing_base} / #{$factor});
$spacing_med_neg: calc(-1 * #{$spacing_base});
$spacing_lg_neg: calc(-1 * #{$spacing_base} * #{$factor});
$spacing_xl_neg: calc(-1 * #{$spacing_base} * ( #{$factor} * #{$factor}) );

.padding-a-n  {  padding: 0; }
.padding-a-xs  {  padding: $spacing_xs; }
.padding-a-s  {  padding: $spacing_sm; }
.padding-a-m  {  padding: $spacing_med;  }
.padding-a-l  {  padding: $spacing_lg; }
.padding-a-xl  {  padding: $spacing_xl; }

.padding-l-n  {  padding-left: 0; }
.padding-l-xs  {  padding-left: $spacing_xs; }
.padding-l-s  {  padding-left: $spacing_sm; }
.padding-l-m  {  padding-left: $spacing_med;  }
.padding-l-l  {  padding-left: $spacing_lg; }
.padding-l-xl  {  padding-left: $spacing_xl; }

.padding-r-n  {  padding-right: 0; }
.padding-r-xs  {  padding-right: $spacing_xs; }
.padding-r-s  {  padding-right: $spacing_sm; }
.padding-r-m  {  padding-right: $spacing_med;  }
.padding-r-l  {  padding-right: $spacing_lg; }
.padding-r-xl  {  padding-right: $spacing_xl; }

.padding-b-n  {  padding-bottom: 0; }
.padding-b-xs  {  padding-bottom: $spacing_xs; }
.padding-b-s  {  padding-bottom: $spacing_sm; }
.padding-b-m  {  padding-bottom: $spacing_med;  }
.padding-b-l  {  padding-bottom: $spacing_lg; }
.padding-b-xl  {  padding-bottom: $spacing_xl; }

.padding-t-n  {  padding-top: 0; }
.padding-t-xs  {  padding-top: $spacing_xs; }
.padding-t-s  {  padding-top: $spacing_sm; }
.padding-t-m  {  padding-top: $spacing_med;  }
.padding-t-l  {  padding-top: $spacing_lg; }
.padding-t-xl  {  padding-top: $spacing_xl; }

.padding-v-n {   padding-top: 0;       padding-bottom: 0; }
.padding-v-xs {   padding-top: $spacing_xs;   padding-bottom: $spacing_xs; }
.padding-v-s {   padding-top: $spacing_sm;   padding-bottom: $spacing_sm; }
.padding-v-m {   padding-top: $spacing_med;     padding-bottom: $spacing_med;  }
.padding-v-l {   padding-top: $spacing_lg;    padding-bottom: $spacing_lg; }
.padding-v-xl {   padding-top: $spacing_xl;   padding-bottom: $spacing_xl; }

.padding-h-n {   padding-left: 0;      padding-right: 0; }
.padding-h-xs {   padding-left: $spacing_xs;   padding-right: $spacing_xs; }
.padding-h-s {   padding-left: $spacing_sm;   padding-right: $spacing_sm; }
.padding-h-m {   padding-left: $spacing_med;     padding-right: $spacing_med;  }
.padding-h-l {   padding-left: $spacing_lg;    padding-right: $spacing_lg; }
.padding-h-xl {   padding-left: $spacing_xl;   padding-right: $spacing_xl; }

.margin-a-n  {  margin: 0; }
.margin-a-xs  {  margin: $spacing_xs; }
.margin-a-s  {  margin: $spacing_sm; }
.margin-a-m  {  margin: $spacing_med;  }
.margin-a-l  {  margin: $spacing_lg; }
.margin-a-xl  {  margin: $spacing_xl; }

.margin-l-n  {  margin-left: 0; }
.margin-l-xs  {  margin-left: $spacing_xs; }
.margin-l-s  {  margin-left: $spacing_sm; }
.margin-l-m  {  margin-left: $spacing_med;  }
.margin-l-l  {  margin-left: $spacing_lg; }
.margin-l-xl  {  margin-left: $spacing_xl; }

.margin-r-n  {  margin-right: 0; }
.margin-r-xs  {  margin-right: $spacing_xs; }
.margin-r-s  {  margin-right: $spacing_sm; }
.margin-r-m  {  margin-right: $spacing_med;  }
.margin-r-l  {  margin-right: $spacing_lg; }
.margin-r-xl  {  margin-right: $spacing_xl; }

.margin-b-n  {  margin-bottom: 0; }
.margin-b-xs  {  margin-bottom: $spacing_xs; }
.margin-b-s  {  margin-bottom: $spacing_sm; }
.margin-b-m  {  margin-bottom: $spacing_med;  }
.margin-b-l  {  margin-bottom: $spacing_lg; }
.margin-b-xl  {  margin-bottom: $spacing_xl; }

.margin-t-n  {  margin-top: 0; }
.margin-t-xs  {  margin-top: $spacing_xs; }
.margin-t-s  {  margin-top: $spacing_sm; }
.margin-t-m  {  margin-top: $spacing_med;  }
.margin-t-l  {  margin-top: $spacing_lg; }
.margin-t-xl  {  margin-top: $spacing_xl; }

.margin-v-n   { margin-top: 0;      margin-bottom: 0rem; }
.margin-v-xs   { margin-top: $spacing_xs;  margin-bottom: $spacing_xs; }
.margin-v-s   { margin-top: $spacing_sm;  margin-bottom: $spacing_sm; }
.margin-v-m   { margin-top: $spacing_med;    margin-bottom: $spacing_med;  }
.margin-v-l   { margin-top: $spacing_lg;   margin-bottom: $spacing_lg; }
.margin-v-xl   { margin-top: $spacing_xl;   margin-bottom: $spacing_xl; }

.margin-h-n   {  margin-left: 0;     margin-right: 0; }
.margin-h-xs   { margin-left: $spacing_xs;  margin-right: $spacing_xs; }
.margin-h-s   { margin-left: $spacing_sm;  margin-right: $spacing_sm; }
.margin-h-m   { margin-left: $spacing_med;    margin-right: $spacing_med;  }
.margin-h-l   { margin-left: $spacing_lg;   margin-right: $spacing_lg; }
.margin-h-xl   { margin-left: $spacing_xl;   margin-right: $spacing_xl; }

@media (min-width: $breakpoint_xs) {
	.padding-a-n_xs  {  padding: 0; }
	.padding-a-xs_xs  {  padding: $spacing_xs; }
	.padding-a-s_xs  {  padding: $spacing_sm; }
	.padding-a-m_xs  {  padding: $spacing_med;  }
	.padding-a-l_xs  {  padding: $spacing_lg; }
	.padding-a-xl_xs  {  padding: $spacing_xl; }

	.padding-l-n_xs  {  padding-left: 0; }
	.padding-l-xs_xs  {  padding-left: $spacing_xs; }
	.padding-l-s_xs  {  padding-left: $spacing_sm; }
	.padding-l-m_xs  {  padding-left: $spacing_med;  }
	.padding-l-l_xs  {  padding-left: $spacing_lg; }
	.padding-l-xl_xs  {  padding-left: $spacing_xl; }

	.padding-r-n_xs  {  padding-right: 0; }
	.padding-r-xs_xs  {  padding-right: $spacing_xs; }
	.padding-r-s_xs  {  padding-right: $spacing_sm; }
	.padding-r-m_xs  {  padding-right: $spacing_med;  }
	.padding-r-l_xs  {  padding-right: $spacing_lg; }
	.padding-r-xl_xs  {  padding-right: $spacing_xl; }

	.padding-b-n_xs  {  padding-bottom: 0; }
	.padding-b-xs_xs  {  padding-bottom: $spacing_xs; }
	.padding-b-s_xs  {  padding-bottom: $spacing_sm; }
	.padding-b-m_xs  {  padding-bottom: $spacing_med;  }
	.padding-b-l_xs  {  padding-bottom: $spacing_lg; }
	.padding-b-xl_xs  {  padding-bottom: $spacing_xl; }

	.padding-t-n_xs  {  padding-top: 0; }
	.padding-t-xs_xs  {  padding-top: $spacing_xs; }
	.padding-t-s_xs  {  padding-top: $spacing_sm; }
	.padding-t-m_xs  {  padding-top: $spacing_med;  }
	.padding-t-l_xs  {  padding-top: $spacing_lg; }
	.padding-t-xl_xs  {  padding-top: $spacing_xl; }

	.padding-v-n_xs {   padding-top: 0;       padding-bottom: 0; }
	.padding-v-xs_xs {   padding-top: $spacing_xs;   padding-bottom: $spacing_xs; }
	.padding-v-s_xs {   padding-top: $spacing_sm;   padding-bottom: $spacing_sm; }
	.padding-v-m_xs {   padding-top: $spacing_med;     padding-bottom: $spacing_med;  }
	.padding-v-l_xs {   padding-top: $spacing_lg;    padding-bottom: $spacing_lg; }
	.padding-v-xl_xs {   padding-top: $spacing_xl;   padding-bottom: $spacing_xl; }

	.padding-h-n_xs {   padding-left: 0;      padding-right: 0; }
	.padding-h-xs_xs {   padding-left: $spacing_xs;   padding-right: $spacing_xs; }
	.padding-h-s_xs {   padding-left: $spacing_sm;   padding-right: $spacing_sm; }
	.padding-h-m_xs {   padding-left: $spacing_med;     padding-right: $spacing_med;  }
	.padding-h-l_xs {   padding-left: $spacing_lg;    padding-right: $spacing_lg; }
	.padding-h-xl_xs {   padding-left: $spacing_xl;   padding-right: $spacing_xl; }

	.margin-a-n_xs  {  margin: 0; }
	.margin-a-xs_xs  {  margin: $spacing_xs; }
	.margin-a-s_xs  {  margin: $spacing_sm; }
	.margin-a-m_xs  {  margin: $spacing_med;  }
	.margin-a-l_xs  {  margin: $spacing_lg; }
	.margin-a-xl_xs  {  margin: $spacing_xl; }

	.margin-l-n_xs  {  margin-left: 0; }
	.margin-l-xs_xs  {  margin-left: $spacing_xs; }
	.margin-l-s_xs  {  margin-left: $spacing_sm; }
	.margin-l-m_xs  {  margin-left: $spacing_med;  }
	.margin-l-l_xs  {  margin-left: $spacing_lg; }
	.margin-l-xl_xs  {  margin-left: $spacing_xl; }

	.margin-r-n_xs  {  margin-right: 0; }
	.margin-r-xs_xs  {  margin-right: $spacing_xs; }
	.margin-r-s_xs  {  margin-right: $spacing_sm; }
	.margin-r-m_xs  {  margin-right: $spacing_med;  }
	.margin-r-l_xs  {  margin-right: $spacing_lg; }
	.margin-r-xl_xs  {  margin-right: $spacing_xl; }

	.margin-b-n_xs  {  margin-bottom: 0; }
	.margin-b-xs_xs  {  margin-bottom: $spacing_xs; }
	.margin-b-s_xs  {  margin-bottom: $spacing_sm; }
	.margin-b-m_xs  {  margin-bottom: $spacing_med;  }
	.margin-b-l_xs  {  margin-bottom: $spacing_lg; }
	.margin-b-xl_xs  {  margin-bottom: $spacing_xl; }

	.margin-t-n_xs  {  margin-top: 0; }
	.margin-t-xs_xs  {  margin-top: $spacing_xs; }
	.margin-t-s_xs  {  margin-top: $spacing_sm; }
	.margin-t-m_xs  {  margin-top: $spacing_med;  }
	.margin-t-l_xs  {  margin-top: $spacing_lg; }
	.margin-t-xl_xs  {  margin-top: $spacing_xl; }

	.margin-v-n_xs   { margin-top: 0;      margin-bottom: 0rem; }
	.margin-v-xs_xs   { margin-top: $spacing_xs;  margin-bottom: $spacing_xs; }
	.margin-v-s_xs   { margin-top: $spacing_sm;  margin-bottom: $spacing_sm; }
	.margin-v-m_xs   { margin-top: $spacing_med;    margin-bottom: $spacing_med;  }
	.margin-v-l_xs   { margin-top: $spacing_lg;   margin-bottom: $spacing_lg; }
	.margin-v-xl_xs   { margin-top: $spacing_xl;   margin-bottom: $spacing_xl; }

	.margin-h-n_xs   {  margin-left: 0;     margin-right: 0; }
	.margin-h-xs_xs   { margin-left: $spacing_xs;  margin-right: $spacing_xs; }
	.margin-h-s_xs   { margin-left: $spacing_sm;  margin-right: $spacing_sm; }
	.margin-h-m_xs   { margin-left: $spacing_med;    margin-right: $spacing_med;  }
	.margin-h-l_xs   { margin-left: $spacing_lg;   margin-right: $spacing_lg; }
	.margin-h-xl_xs   { margin-left: $spacing_xl;   margin-right: $spacing_xl; }
}
@media (min-width: $breakpoint_s) {
	.padding-a-n_s  {  padding: 0; }
	.padding-a-xs_s  {  padding: $spacing_xs; }
	.padding-a-s_s  {  padding: $spacing_sm; }
	.padding-a-m_s  {  padding: $spacing_med;  }
	.padding-a-l_s  {  padding: $spacing_lg; }
	.padding-a-xl_s  {  padding: $spacing_xl; }

	.padding-l-n_s  {  padding-left: 0; }
	.padding-l-xs_s  {  padding-left: $spacing_xs; }
	.padding-l-s_s  {  padding-left: $spacing_sm; }
	.padding-l-m_s  {  padding-left: $spacing_med;  }
	.padding-l-l_s  {  padding-left: $spacing_lg; }
	.padding-l-xl_s  {  padding-left: $spacing_xl; }

	.padding-r-n_s  {  padding-right: 0; }
	.padding-r-xs_s  {  padding-right: $spacing_xs; }
	.padding-r-s_s  {  padding-right: $spacing_sm; }
	.padding-r-m_s  {  padding-right: $spacing_med;  }
	.padding-r-l_s  {  padding-right: $spacing_lg; }
	.padding-r-xl_s  {  padding-right: $spacing_xl; }

	.padding-b-n_s  {  padding-bottom: 0; }
	.padding-b-xs_s  {  padding-bottom: $spacing_xs; }
	.padding-b-s_s  {  padding-bottom: $spacing_sm; }
	.padding-b-m_s  {  padding-bottom: $spacing_med;  }
	.padding-b-l_s  {  padding-bottom: $spacing_lg; }
	.padding-b-xl_s  {  padding-bottom: $spacing_xl; }

	.padding-t-n_s  {  padding-top: 0; }
	.padding-t-xs_s  {  padding-top: $spacing_xs; }
	.padding-t-s_s  {  padding-top: $spacing_sm; }
	.padding-t-m_s  {  padding-top: $spacing_med;  }
	.padding-t-l_s  {  padding-top: $spacing_lg; }
	.padding-t-xl_s  {  padding-top: $spacing_xl; }

	.padding-v-n_s {   padding-top: 0;       padding-bottom: 0; }
	.padding-v-xs_s {   padding-top: $spacing_xs;   padding-bottom: $spacing_xs; }
	.padding-v-s_s {   padding-top: $spacing_sm;   padding-bottom: $spacing_sm; }
	.padding-v-m_s {   padding-top: $spacing_med;     padding-bottom: $spacing_med;  }
	.padding-v-l_s {   padding-top: $spacing_lg;    padding-bottom: $spacing_lg; }
	.padding-v-xl_s {   padding-top: $spacing_xl;   padding-bottom: $spacing_xl; }

	.padding-h-n_s {   padding-left: 0;      padding-right: 0; }
	.padding-h-xs_s {   padding-left: $spacing_xs;   padding-right: $spacing_xs; }
	.padding-h-s_s {   padding-left: $spacing_sm;   padding-right: $spacing_sm; }
	.padding-h-m_s {   padding-left: $spacing_med;     padding-right: $spacing_med;  }
	.padding-h-l_s {   padding-left: $spacing_lg;    padding-right: $spacing_lg; }
	.padding-h-xl_s {   padding-left: $spacing_xl;   padding-right: $spacing_xl; }

	.margin-a-n_s  {  margin: 0; }
	.margin-a-xs_s  {  margin: $spacing_xs; }
	.margin-a-s_s  {  margin: $spacing_sm; }
	.margin-a-m_s  {  margin: $spacing_med;  }
	.margin-a-l_s  {  margin: $spacing_lg; }
	.margin-a-xl_s  {  margin: $spacing_xl; }

	.margin-l-n_s  {  margin-left: 0; }
	.margin-l-xs_s  {  margin-left: $spacing_xs; }
	.margin-l-s_s  {  margin-left: $spacing_sm; }
	.margin-l-m_s  {  margin-left: $spacing_med;  }
	.margin-l-l_s  {  margin-left: $spacing_lg; }
	.margin-l-xl_s  {  margin-left: $spacing_xl; }

	.margin-r-n_s  {  margin-right: 0; }
	.margin-r-xs_s  {  margin-right: $spacing_xs; }
	.margin-r-s_s  {  margin-right: $spacing_sm; }
	.margin-r-m_s  {  margin-right: $spacing_med;  }
	.margin-r-l_s  {  margin-right: $spacing_lg; }
	.margin-r-xl_s  {  margin-right: $spacing_xl; }

	.margin-b-n_s  {  margin-bottom: 0; }
	.margin-b-xs_s  {  margin-bottom: $spacing_xs; }
	.margin-b-s_s  {  margin-bottom: $spacing_sm; }
	.margin-b-m_s  {  margin-bottom: $spacing_med;  }
	.margin-b-l_s  {  margin-bottom: $spacing_lg; }
	.margin-b-xl_s  {  margin-bottom: $spacing_xl; }

	.margin-t-n_s  {  margin-top: 0; }
	.margin-t-xs_s  {  margin-top: $spacing_xs; }
	.margin-t-s_s  {  margin-top: $spacing_sm; }
	.margin-t-m_s  {  margin-top: $spacing_med;  }
	.margin-t-l_s  {  margin-top: $spacing_lg; }
	.margin-t-xl_s  {  margin-top: $spacing_xl; }

	.margin-v-n_s   { margin-top: 0;      margin-bottom: 0rem; }
	.margin-v-xs_s   { margin-top: $spacing_xs;  margin-bottom: $spacing_xs; }
	.margin-v-s_s   { margin-top: $spacing_sm;  margin-bottom: $spacing_sm; }
	.margin-v-m_s   { margin-top: $spacing_med;    margin-bottom: $spacing_med;  }
	.margin-v-l_s   { margin-top: $spacing_lg;   margin-bottom: $spacing_lg; }
	.margin-v-xl_s   { margin-top: $spacing_xl;   margin-bottom: $spacing_xl; }

	.margin-h-n_s   {  margin-left: 0;     margin-right: 0; }
	.margin-h-xs_s   { margin-left: $spacing_xs;  margin-right: $spacing_xs; }
	.margin-h-s_s   { margin-left: $spacing_sm;  margin-right: $spacing_sm; }
	.margin-h-m_s   { margin-left: $spacing_med;    margin-right: $spacing_med;  }
	.margin-h-l_s   { margin-left: $spacing_lg;   margin-right: $spacing_lg; }
	.margin-h-xl_s   { margin-left: $spacing_xl;   margin-right: $spacing_xl; }
}
@media (min-width: $breakpoint_m) {
	.padding-a-n_m  {  padding: 0; }
	.padding-a-xs_m  {  padding: $spacing_xs; }
	.padding-a-s_m  {  padding: $spacing_sm; }
	.padding-a-m_m  {  padding: $spacing_med;  }
	.padding-a-l_m  {  padding: $spacing_lg; }
	.padding-a-xl_m  {  padding: $spacing_xl; }

	.padding-l-n_m  {  padding-left: 0; }
	.padding-l-xs_m  {  padding-left: $spacing_xs; }
	.padding-l-s_m  {  padding-left: $spacing_sm; }
	.padding-l-m_m  {  padding-left: $spacing_med;  }
	.padding-l-l_m  {  padding-left: $spacing_lg; }
	.padding-l-xl_m  {  padding-left: $spacing_xl; }

	.padding-r-n_m  {  padding-right: 0; }
	.padding-r-xs_m  {  padding-right: $spacing_xs; }
	.padding-r-s_m  {  padding-right: $spacing_sm; }
	.padding-r-m_m  {  padding-right: $spacing_med;  }
	.padding-r-l_m  {  padding-right: $spacing_lg; }
	.padding-r-xl_m  {  padding-right: $spacing_xl; }

	.padding-b-n_m  {  padding-bottom: 0; }
	.padding-b-xs_m  {  padding-bottom: $spacing_xs; }
	.padding-b-s_m  {  padding-bottom: $spacing_sm; }
	.padding-b-m_m  {  padding-bottom: $spacing_med;  }
	.padding-b-l_m  {  padding-bottom: $spacing_lg; }
	.padding-b-xl_m  {  padding-bottom: $spacing_xl; }

	.padding-t-n_m  {  padding-top: 0; }
	.padding-t-xs_m  {  padding-top: $spacing_xs; }
	.padding-t-s_m  {  padding-top: $spacing_sm; }
	.padding-t-m_m  {  padding-top: $spacing_med;  }
	.padding-t-l_m  {  padding-top: $spacing_lg; }
	.padding-t-xl_m  {  padding-top: $spacing_xl; }

	.padding-v-n_m {   padding-top: 0;       padding-bottom: 0; }
	.padding-v-xs_m {   padding-top: $spacing_xs;   padding-bottom: $spacing_xs; }
	.padding-v-s_m {   padding-top: $spacing_sm;   padding-bottom: $spacing_sm; }
	.padding-v-m_m {   padding-top: $spacing_med;     padding-bottom: $spacing_med;  }
	.padding-v-l_m {   padding-top: $spacing_lg;    padding-bottom: $spacing_lg; }
	.padding-v-xl_m {   padding-top: $spacing_xl;   padding-bottom: $spacing_xl; }

	.padding-h-n_m {   padding-left: 0;      padding-right: 0; }
	.padding-h-xs_m {   padding-left: $spacing_xs;   padding-right: $spacing_xs; }
	.padding-h-s_m {   padding-left: $spacing_sm;   padding-right: $spacing_sm; }
	.padding-h-m_m {   padding-left: $spacing_med;     padding-right: $spacing_med;  }
	.padding-h-l_m {   padding-left: $spacing_lg;    padding-right: $spacing_lg; }
	.padding-h-xl_m {   padding-left: $spacing_xl;   padding-right: $spacing_xl; }

	.margin-a-n_m  {  margin: 0; }
	.margin-a-xs_m  {  margin: $spacing_xs; }
	.margin-a-s_m  {  margin: $spacing_sm; }
	.margin-a-m_m  {  margin: $spacing_med;  }
	.margin-a-l_m  {  margin: $spacing_lg; }
	.margin-a-xl_m  {  margin: $spacing_xl; }

	.margin-l-n_m  {  margin-left: 0; }
	.margin-l-xs_m  {  margin-left: $spacing_xs; }
	.margin-l-s_m  {  margin-left: $spacing_sm; }
	.margin-l-m_m  {  margin-left: $spacing_med;  }
	.margin-l-l_m  {  margin-left: $spacing_lg; }
	.margin-l-xl_m  {  margin-left: $spacing_xl; }

	.margin-r-n_m  {  margin-right: 0; }
	.margin-r-xs_m  {  margin-right: $spacing_xs; }
	.margin-r-s_m  {  margin-right: $spacing_sm; }
	.margin-r-m_m  {  margin-right: $spacing_med;  }
	.margin-r-l_m  {  margin-right: $spacing_lg; }
	.margin-r-xl_m  {  margin-right: $spacing_xl; }

	.margin-b-n_m  {  margin-bottom: 0; }
	.margin-b-xs_m  {  margin-bottom: $spacing_xs; }
	.margin-b-s_m  {  margin-bottom: $spacing_sm; }
	.margin-b-m_m  {  margin-bottom: $spacing_med;  }
	.margin-b-l_m  {  margin-bottom: $spacing_lg; }
	.margin-b-xl_m  {  margin-bottom: $spacing_xl; }

	.margin-t-n_m  {  margin-top: 0; }
	.margin-t-xs_m  {  margin-top: $spacing_xs; }
	.margin-t-s_m  {  margin-top: $spacing_sm; }
	.margin-t-m_m  {  margin-top: $spacing_med;  }
	.margin-t-l_m  {  margin-top: $spacing_lg; }
	.margin-t-xl_m  {  margin-top: $spacing_xl; }

	.margin-v-n_m   { margin-top: 0;      margin-bottom: 0rem; }
	.margin-v-xs_m   { margin-top: $spacing_xs;  margin-bottom: $spacing_xs; }
	.margin-v-s_m   { margin-top: $spacing_sm;  margin-bottom: $spacing_sm; }
	.margin-v-m_m   { margin-top: $spacing_med;    margin-bottom: $spacing_med;  }
	.margin-v-l_m   { margin-top: $spacing_lg;   margin-bottom: $spacing_lg; }
	.margin-v-xl_m   { margin-top: $spacing_xl;   margin-bottom: $spacing_xl; }

	.margin-h-n_m   {  margin-left: 0;     margin-right: 0; }
	.margin-h-xs_m   { margin-left: $spacing_xs;  margin-right: $spacing_xs; }
	.margin-h-s_m   { margin-left: $spacing_sm;  margin-right: $spacing_sm; }
	.margin-h-m_m   { margin-left: $spacing_med;    margin-right: $spacing_med;  }
	.margin-h-l_m   { margin-left: $spacing_lg;   margin-right: $spacing_lg; }
	.margin-h-xl_m   { margin-left: $spacing_xl;   margin-right: $spacing_xl; }
}
@media (min-width: $breakpoint_l) {
	.padding-a-n_l  {  padding: 0; }
	.padding-a-xs_l  {  padding: $spacing_xs; }
	.padding-a-s_l  {  padding: $spacing_sm; }
	.padding-a-m_l  {  padding: $spacing_med;  }
	.padding-a-l_l  {  padding: $spacing_lg; }
	.padding-a-xl_l  {  padding: $spacing_xl; }

	.padding-l-n_l  {  padding-left: 0; }
	.padding-l-xs_l  {  padding-left: $spacing_xs; }
	.padding-l-s_l  {  padding-left: $spacing_sm; }
	.padding-l-m_l  {  padding-left: $spacing_med;  }
	.padding-l-l_l  {  padding-left: $spacing_lg; }
	.padding-l-xl_l  {  padding-left: $spacing_xl; }

	.padding-r-n_l  {  padding-right: 0; }
	.padding-r-xs_l  {  padding-right: $spacing_xs; }
	.padding-r-s_l  {  padding-right: $spacing_sm; }
	.padding-r-m_l  {  padding-right: $spacing_med;  }
	.padding-r-l_l  {  padding-right: $spacing_lg; }
	.padding-r-xl_l  {  padding-right: $spacing_xl; }

	.padding-b-n_l  {  padding-bottom: 0; }
	.padding-b-xs_l  {  padding-bottom: $spacing_xs; }
	.padding-b-s_l  {  padding-bottom: $spacing_sm; }
	.padding-b-m_l  {  padding-bottom: $spacing_med;  }
	.padding-b-l_l  {  padding-bottom: $spacing_lg; }
	.padding-b-xl_l  {  padding-bottom: $spacing_xl; }

	.padding-t-n_l  {  padding-top: 0; }
	.padding-t-xs_l  {  padding-top: $spacing_xs; }
	.padding-t-s_l  {  padding-top: $spacing_sm; }
	.padding-t-m_l  {  padding-top: $spacing_med;  }
	.padding-t-l_l  {  padding-top: $spacing_lg; }
	.padding-t-xl_l  {  padding-top: $spacing_xl; }

	.padding-v-n_l {   padding-top: 0;       padding-bottom: 0; }
	.padding-v-xs_l {   padding-top: $spacing_xs;   padding-bottom: $spacing_xs; }
	.padding-v-s_l {   padding-top: $spacing_sm;   padding-bottom: $spacing_sm; }
	.padding-v-m_l {   padding-top: $spacing_med;     padding-bottom: $spacing_med;  }
	.padding-v-l_l {   padding-top: $spacing_lg;    padding-bottom: $spacing_lg; }
	.padding-v-xl_l {   padding-top: $spacing_xl;   padding-bottom: $spacing_xl; }

	.padding-h-n_l {   padding-left: 0;      padding-right: 0; }
	.padding-h-xs_l {   padding-left: $spacing_xs;   padding-right: $spacing_xs; }
	.padding-h-s_l {   padding-left: $spacing_sm;   padding-right: $spacing_sm; }
	.padding-h-m_l {   padding-left: $spacing_med;     padding-right: $spacing_med;  }
	.padding-h-l_l {   padding-left: $spacing_lg;    padding-right: $spacing_lg; }
	.padding-h-xl_l {   padding-left: $spacing_xl;   padding-right: $spacing_xl; }

	.margin-a-n_l  {  margin: 0; }
	.margin-a-xs_l  {  margin: $spacing_xs; }
	.margin-a-s_l  {  margin: $spacing_sm; }
	.margin-a-m_l  {  margin: $spacing_med;  }
	.margin-a-l_l  {  margin: $spacing_lg; }
	.margin-a-xl_l  {  margin: $spacing_xl; }

	.margin-l-n_l  {  margin-left: 0; }
	.margin-l-xs_l  {  margin-left: $spacing_xs; }
	.margin-l-s_l  {  margin-left: $spacing_sm; }
	.margin-l-m_l  {  margin-left: $spacing_med;  }
	.margin-l-l_l  {  margin-left: $spacing_lg; }
	.margin-l-xl_l  {  margin-left: $spacing_xl; }

	.margin-r-n_l  {  margin-right: 0; }
	.margin-r-xs_l  {  margin-right: $spacing_xs; }
	.margin-r-s_l  {  margin-right: $spacing_sm; }
	.margin-r-m_l  {  margin-right: $spacing_med;  }
	.margin-r-l_l  {  margin-right: $spacing_lg; }
	.margin-r-xl_l  {  margin-right: $spacing_xl; }

	.margin-b-n_l  {  margin-bottom: 0; }
	.margin-b-xs_l  {  margin-bottom: $spacing_xs; }
	.margin-b-s_l  {  margin-bottom: $spacing_sm; }
	.margin-b-m_l  {  margin-bottom: $spacing_med;  }
	.margin-b-l_l  {  margin-bottom: $spacing_lg; }
	.margin-b-xl_l  {  margin-bottom: $spacing_xl; }

	.margin-t-n_l  {  margin-top: 0; }
	.margin-t-xs_l  {  margin-top: $spacing_xs; }
	.margin-t-s_l  {  margin-top: $spacing_sm; }
	.margin-t-m_l  {  margin-top: $spacing_med;  }
	.margin-t-l_l  {  margin-top: $spacing_lg; }
	.margin-t-xl_l  {  margin-top: $spacing_xl; }

	.margin-v-n_l   { margin-top: 0;      margin-bottom: 0rem; }
	.margin-v-xs_l   { margin-top: $spacing_xs;  margin-bottom: $spacing_xs; }
	.margin-v-s_l   { margin-top: $spacing_sm;  margin-bottom: $spacing_sm; }
	.margin-v-m_l   { margin-top: $spacing_med;    margin-bottom: $spacing_med;  }
	.margin-v-l_l   { margin-top: $spacing_lg;   margin-bottom: $spacing_lg; }
	.margin-v-xl_l   { margin-top: $spacing_xl;   margin-bottom: $spacing_xl; }

	.margin-h-n_l   {  margin-left: 0;     margin-right: 0; }
	.margin-h-xs_l   { margin-left: $spacing_xs;  margin-right: $spacing_xs; }
	.margin-h-s_l   { margin-left: $spacing_sm;  margin-right: $spacing_sm; }
	.margin-h-m_l   { margin-left: $spacing_med;    margin-right: $spacing_med;  }
	.margin-h-l_l   { margin-left: $spacing_lg;   margin-right: $spacing_lg; }
	.margin-h-xl_l   { margin-left: $spacing_xl;   margin-right: $spacing_xl; }
}
@media (min-width: $breakpoint_xl) {
	.padding-a-n_xl  {  padding: 0; }
	.padding-a-xs_xl  {  padding: $spacing_xs; }
	.padding-a-s_xl  {  padding: $spacing_sm; }
	.padding-a-m_xl  {  padding: $spacing_med;  }
	.padding-a-l_xl  {  padding: $spacing_lg; }
	.padding-a-xl_xl  {  padding: $spacing_xl; }

	.padding-l-n_xl  {  padding-left: 0; }
	.padding-l-xs_xl  {  padding-left: $spacing_xs; }
	.padding-l-s_xl  {  padding-left: $spacing_sm; }
	.padding-l-m_xl  {  padding-left: $spacing_med;  }
	.padding-l-l_xl  {  padding-left: $spacing_lg; }
	.padding-l-xl_xl  {  padding-left: $spacing_xl; }

	.padding-r-n_xl  {  padding-right: 0; }
	.padding-r-xs_xl  {  padding-right: $spacing_xs; }
	.padding-r-s_xl  {  padding-right: $spacing_sm; }
	.padding-r-m_xl  {  padding-right: $spacing_med;  }
	.padding-r-l_xl  {  padding-right: $spacing_lg; }
	.padding-r-xl_xl  {  padding-right: $spacing_xl; }

	.padding-b-n_xl  {  padding-bottom: 0; }
	.padding-b-xs_xl  {  padding-bottom: $spacing_xs; }
	.padding-b-s_xl  {  padding-bottom: $spacing_sm; }
	.padding-b-m_xl  {  padding-bottom: $spacing_med;  }
	.padding-b-l_xl  {  padding-bottom: $spacing_lg; }
	.padding-b-xl_xl  {  padding-bottom: $spacing_xl; }

	.padding-t-n_xl  {  padding-top: 0; }
	.padding-t-xs_xl  {  padding-top: $spacing_xs; }
	.padding-t-s_xl  {  padding-top: $spacing_sm; }
	.padding-t-m_xl  {  padding-top: $spacing_med;  }
	.padding-t-l_xl  {  padding-top: $spacing_lg; }
	.padding-t-xl_xl  {  padding-top: $spacing_xl; }

	.padding-v-n_xl {   padding-top: 0;       padding-bottom: 0; }
	.padding-v-xs_xl {   padding-top: $spacing_xs;   padding-bottom: $spacing_xs; }
	.padding-v-s_xl {   padding-top: $spacing_sm;   padding-bottom: $spacing_sm; }
	.padding-v-m_xl {   padding-top: $spacing_med;     padding-bottom: $spacing_med;  }
	.padding-v-l_xl {   padding-top: $spacing_lg;    padding-bottom: $spacing_lg; }
	.padding-v-xl_xl {   padding-top: $spacing_xl;   padding-bottom: $spacing_xl; }

	.padding-h-n_xl {   padding-left: 0;      padding-right: 0; }
	.padding-h-xs_xl {   padding-left: $spacing_xs;   padding-right: $spacing_xs; }
	.padding-h-s_xl {   padding-left: $spacing_sm;   padding-right: $spacing_sm; }
	.padding-h-m_xl {   padding-left: $spacing_med;     padding-right: $spacing_med;  }
	.padding-h-l_xl {   padding-left: $spacing_lg;    padding-right: $spacing_lg; }
	.padding-h-xl_xl {   padding-left: $spacing_xl;   padding-right: $spacing_xl; }

	.margin-a-n_xl  {  margin: 0; }
	.margin-a-xs_xl  {  margin: $spacing_xs; }
	.margin-a-s_xl  {  margin: $spacing_sm; }
	.margin-a-m_xl  {  margin: $spacing_med;  }
	.margin-a-l_xl  {  margin: $spacing_lg; }
	.margin-a-xl_xl  {  margin: $spacing_xl; }

	.margin-l-n_xl  {  margin-left: 0; }
	.margin-l-xs_xl  {  margin-left: $spacing_xs; }
	.margin-l-s_xl  {  margin-left: $spacing_sm; }
	.margin-l-m_xl  {  margin-left: $spacing_med;  }
	.margin-l-l_xl  {  margin-left: $spacing_lg; }
	.margin-l-xl_xl  {  margin-left: $spacing_xl; }

	.margin-r-n_xl  {  margin-right: 0; }
	.margin-r-xs_xl  {  margin-right: $spacing_xs; }
	.margin-r-s_xl  {  margin-right: $spacing_sm; }
	.margin-r-m_xl  {  margin-right: $spacing_med;  }
	.margin-r-l_xl  {  margin-right: $spacing_lg; }
	.margin-r-xl_xl  {  margin-right: $spacing_xl; }

	.margin-b-n_xl  {  margin-bottom: 0; }
	.margin-b-xs_xl  {  margin-bottom: $spacing_xs; }
	.margin-b-s_xl  {  margin-bottom: $spacing_sm; }
	.margin-b-m_xl  {  margin-bottom: $spacing_med;  }
	.margin-b-l_xl  {  margin-bottom: $spacing_lg; }
	.margin-b-xl_xl  {  margin-bottom: $spacing_xl; }

	.margin-t-n_xl  {  margin-top: 0; }
	.margin-t-xs_xl  {  margin-top: $spacing_xs; }
	.margin-t-s_xl  {  margin-top: $spacing_sm; }
	.margin-t-m_xl  {  margin-top: $spacing_med;  }
	.margin-t-l_xl  {  margin-top: $spacing_lg; }
	.margin-t-xl_xl  {  margin-top: $spacing_xl; }

	.margin-v-n_xl   { margin-top: 0;      margin-bottom: 0rem; }
	.margin-v-xs_xl   { margin-top: $spacing_xs;  margin-bottom: $spacing_xs; }
	.margin-v-s_xl   { margin-top: $spacing_sm;  margin-bottom: $spacing_sm; }
	.margin-v-m_xl   { margin-top: $spacing_med;    margin-bottom: $spacing_med;  }
	.margin-v-l_xl   { margin-top: $spacing_lg;   margin-bottom: $spacing_lg; }
	.margin-v-xl_xl   { margin-top: $spacing_xl;   margin-bottom: $spacing_xl; }

	.margin-h-n_xl   {  margin-left: 0;     margin-right: 0; }
	.margin-h-xs_xl   { margin-left: $spacing_xs;  margin-right: $spacing_xs; }
	.margin-h-s_xl   { margin-left: $spacing_sm;  margin-right: $spacing_sm; }
	.margin-h-m_xl   { margin-left: $spacing_med;    margin-right: $spacing_med;  }
	.margin-h-l_xl   { margin-left: $spacing_lg;   margin-right: $spacing_lg; }
	.margin-h-xl_xl   { margin-left: $spacing_xl;   margin-right: $spacing_xl; }
}