$spacing_base:  1rem;
$factor: 2;

$spacing_sm: calc(#{$spacing_base} / #{$factor});
$spacing_med: $spacing_base;
$spacing_lg: calc(#{$spacing_base} * #{$factor});

.padding-a-n  {  padding: 0; }
.padding-a-s  {  padding: $spacing_sm; }
.padding-a-m  {  padding: $spacing_med;  }
.padding-a-l  {  padding: $spacing_lg; }

.padding-l-n  {  padding-left: 0; }
.padding-l-s  {  padding-left: $spacing_sm; }
.padding-l-m  {  padding-left: $spacing_med;  }
.padding-l-l  {  padding-left: $spacing_lg; }

.padding-r-n  {  padding-right: 0; }
.padding-r-s  {  padding-right: $spacing_sm; }
.padding-r-m  {  padding-right: $spacing_med;  }
.padding-r-l  {  padding-right: $spacing_lg; }

.padding-b-n  {  padding-bottom: 0; }
.padding-b-s  {  padding-bottom: $spacing_sm; }
.padding-b-m  {  padding-bottom: $spacing_med;  }
.padding-b-l  {  padding-bottom: $spacing_lg; }

.padding-t-n  {  padding-top: 0; }
.padding-t-s  {  padding-top: $spacing_sm; }
.padding-t-m  {  padding-top: $spacing_med;  }
.padding-t-l  {  padding-top: $spacing_lg; }

.padding-v-n {   padding-top: 0;       padding-bottom: 0; }
.padding-v-s {   padding-top: $spacing_sm;   padding-bottom: $spacing_sm; }
.padding-v-m {   padding-top: $spacing_med;     padding-bottom: $spacing_med;  }
.padding-v-l {   padding-top: $spacing_lg;    padding-bottom: $spacing_lg; }

.padding-h-n {   padding-left: 0;      padding-right: 0; }
.padding-h-s {   padding-left: $spacing_sm;  padding-right: $spacing_sm; }
.padding-h-m {   padding-left: $spacing_med;    padding-right: $spacing_med;  }
.padding-h-l {   padding-left: $spacing_lg;   padding-right: $spacing_lg; }

.margin-a-n  {  margin: 0; }
.margin-a-s  {  margin: $spacing_sm; }
.margin-a-m  {  margin: $spacing_med;  }
.margin-a-l  {  margin: $spacing_lg; }

.margin-l-n  {  margin-left: 0; }
.margin-l-s  {  margin-left: $spacing_sm; }
.margin-l-m  {  margin-left: $spacing_med;  }
.margin-l-l  {  margin-left: $spacing_lg; }

.margin-r-n  {  margin-right: 0; }
.margin-r-s  {  margin-right: $spacing_sm; }
.margin-r-m  {  margin-right: $spacing_med;  }
.margin-r-l  {  margin-right: $spacing_lg; }

.margin-b-n  {  margin-bottom: 0; }
.margin-b-s  {  margin-bottom: $spacing_sm; }
.margin-b-m  {  margin-bottom: $spacing_med;  }
.margin-b-l  {  margin-bottom: $spacing_lg; }

.margin-t-n  {  margin-top: 0; }
.margin-t-s  {  margin-top: $spacing_sm; }
.margin-t-m  {  margin-top: $spacing_med;  }
.margin-t-l  {  margin-top: $spacing_lg; }

.margin-v-n   { margin-top: 0;      margin-bottom: 0rem; }
.margin-v-s   { margin-top: $spacing_sm;  margin-bottom: $spacing_sm; }
.margin-v-m   { margin-top: $spacing_med;    margin-bottom: $spacing_med;  }
.margin-v-l   { margin-top: $spacing_lg;   margin-bottom: $spacing_lg; }

.margin-h-n   {  margin-left: 0;     margin-right: 0; }
.margin-h-s   {  margin-left: $spacing_sm; margin-right: $spacing_sm; }
.margin-h-m   {  margin-left: $spacing_med;   margin-right: $spacing_med;  }
.margin-h-l   {  margin-left: $spacing_lg;  margin-right: $spacing_lg; }