@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,800italic,400,300,800);

html, body {
    @extend .type-sans;
    
    font-size: 62.5%; // Set to 10px
    color: $c-2;
}
.type-sans {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
.type-serif {
    font-family: georgia, serif;
}
.type-monospace {
    font-family: Consolas , Monaco, monospace;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

h1,
.h1 {
    @extend .type-sans;

    font-size: 3.2rem;
    font-weight: 900;
    line-height: 4rem;
    margin-bottom: 1.6rem;

    @media screen and (min-width: $breakpoint-s) {
        font-size: 4.5rem;
        line-height: 4.7rem;
    }
}

h2,
.h2 {
    @extend .type-sans;

    font-size: 2.5rem;
    font-weight: 900;
    line-height: 3.3rem;

    @media screen and (min-width: $breakpoint-s) {
        font-size: 3rem;
        line-height: 4rem;
    }
}

h3,
.h3 {
    @extend .type-sans;

    font-size: 2rem;
    font-weight: 900;
    line-height: 3rem;

    @media screen and (min-width: $breakpoint-s) {
        font-size: 2.2rem;
        line-height: 3.3rem;
    }
}

h4,
.h4 {
    @extend .type-sans;

    font-size: 1.8rem;
    font-weight: 900;
    line-height: 3rem;
}

h5,
.h5 {
    @extend .type-sans;

    font-size: 1.5rem;
    font-weight: 900;
    line-height: 2rem;
}

h6,
.h6 {
    @extend .type-sans;

    font-size: 1.2rem;
    font-weight: 900;
    line-height: 1.8rem;
}

p,
.p {
    @extend .type-serif;

    font-size: 1.8rem;
    font-weight: 100;
    line-height: 2.6rem;
}

.text-uppercase {
    text-transform: uppercase;
}
.text-underline {
    text-decoration: underline;
}