/*
 * Utilities
 *
 * Helper classes. Prefixed with 'u-'.
 */
.u-clear {
	&::before,
	&::after {
	  content:' ';
	  display: table;
	}

	&::after {
	  clear: both;
	}
}
.u-inline-helper {
	&::after {
		@extend .inline-block;

		content:'';
		width: 100%;
	}
}
.u-middle-align-helper {
	&::after {
		@extend .inline-block;

		content:'';
		height: 100%;
		vertical-align: middle;
	}
}

/*
 * Hide Elements
 *
 * Generates classes i.e. '.u-hide { display: none }'
 * Plus, breakpoint specific extensions i.e. '.u-hide_m { display: none }',
 ** which will only affect layouts greater than break(m)
 */
.u-hide { display: none }
@each $breakpoint, $break_size in $breakpoints {
  @media (min-width: $break_size) {
    .u-hide_#{$breakpoint} { display: none }
  }
}

/*
 * Show Elements
 *
 * Generates classes i.e. '.u-hide { display: none }'
 * Plus, breakpoint specific extensions i.e. '.u-hide_m { display: none }',
 ** which will only affect layouts greater than break(m)
 */
.u-show { display: block }
@each $breakpoint, $break_size in $breakpoints {
  @media (min-width: $break_size) {
    .u-show_#{$breakpoint} { display: block }
  }
}