.u-align-center {
	text-align: center !important;
}
.u-align-right {
	text-align: right !important;
}
.u-align-left {
	text-align: left !important;
}
.u-align-justify {
	text-align: justify !important;
}


.u-float-r {
	float: right;
}
@media screen and (min-width: $sm) {
	.sm_u-float-r {
		float: right;
	}
}