header {
	@include blockRel;

	background-color: $gray10;
	left: 0;
	margin: 0 auto;
	padding: 3rem 3.75%;
	top: 0;
	width: 100%;
	z-index: 100;

	@media screen and (min-width: $sm) {
		@include blockFix;

		padding: 1.6rem 3rem;
		width: 100%;
	}

	.row {
		max-width: 1500px;
	}
}

.header-right {
	text-align: left;

	@media screen and (min-width: $sm) {
		text-align: right;
	}
}

.nav-item {
	@include inlineRel;
	@include h4;

	color: $c2;
	margin: 0;
	padding: .3rem 1rem;
	vertical-align: middle;

	@media screen and (min-width: $sm) {
		width: auto;
	}

	&.button-sm {
		margin-left: 1rem;
	}
}
h1.nav-item {
	font-weight: 900;
	margin-bottom: 1rem;
	width: 100%;

	@media screen and (min-width: $sm) {
		margin-bottom: 0;
		width: auto;
	}
}
.social {
	font-size: 2rem;
}