.two-up {
    display: table;
    min-height: 200px;
    table-layout: fixed;
    width: 100%;

    .inner {
        display: table-row;
        height: 100%;

        .block {
            display: table-cell;
            height: 100%;
            overflow: hidden;
            padding: 0rem;
            width: 50%;
            transform: translateZ(0);

            .block-inner {
                display: block;
                height: 100%;
                position: relative;
                text-align: center;
                width: 100%;

                &::after {
                    @include inlineRel;

                    content:'';
                    height: 100%;
                    width: 0px;
                    vertical-align: middle;
                }
            }
        }
    }

    .block-content {
        @include inlineRel;

        margin: 0rem auto;
        padding: 6rem 0rem;
        text-align: center;
        width: 360px;
        vertical-align: middle;
        z-index: 1;
    }
}


@media screen and (max-width: $med) {



}

@media screen and (max-width: $sm) {



}

@media screen and (max-width: $xs) {



}