/*
 * Colors
 *
 * Generates classes i.e. '.c-1 { color: color(1) }'
 *
 * Function 'color()' allows user to grab a key value
 ** from the $colors SASS map.
 */
$colors: (
	w: #FFFFFF,
	b: #111111,
	g: #333333,
	g1: #f5f5f5,
	g2: #cccccc,
	g3: #999999,
	g4: #666666,
	1: #148ECC,
	2: #00D0FE,
	3: #36556E,
	4: #182b40
);
@function color($key) {
  @if map-has-key($colors, $key) {
    @return map-get($colors, $key);
  }
  @warn "Unknown `#{$key}` in $colors.";
  @return null;
}
@each $color, $hex in $colors {
	.c-#{$color} { color: $hex }
	.c-#{$color}--d { color: darker($hex, 10%) }
	.c-#{$color}--l { color: lighter($hex, 10%) }
} 