/*
 * Grid Components
 *
 * The building blocks of the grid.
 */
.grid {
    @extend .block-relative;

    margin: auto;
    overflow-x: hidden;
    width: 100%;
}

.grid--l {
	@extend .grid;

	width: 90%;

    @media (min-width: break(xs)) {
        width: 92.5%;
    }
    @media (min-width: break(m)) {
        width: 95%;
    }
}

.grid--m {
	@extend .grid;

	width: 90%;

    @media (min-width: break(xs)) {
        width: 82.5%;
    }
    @media (min-width: break(m)) {
        width: 75%;
    }
}

.grid--s {
	@extend .grid;

    width: 90%;

    @media (min-width: break(xs)) {
        width: 80%;
    }
    @media (min-width: break(m)) {
        width: 66%;
    }
}

.row {
	@extend .block-relative;

	margin: 0 auto;

	&::before,
    &::after {
      content: " ";
      display: table;
    }

    &::after {
      clear: both;
    }
}

.col { 
	@extend .block-relative;

	float: left;
	min-height: 1px;
}

/* 
 * Gutters
 */
.has-gutter--s {
    > .row {
        margin-left: sn(s);
        margin-right: sn(s);

        > .col {
            padding-left: s(s);
            padding-right: s(s);
        }
    }
}
.has-gutter--m {
    > .row {
        margin-left: sn(m);
        margin-right: sn(m);
        > .col {
            padding-left: s(m); 
            padding-right: s(m);
        }
    }
}
.has-gutter--l {
    > .row {
        margin-left: sn(l);
        margin-right: sn(l);
        
        > .col {
            padding-left: s(l); 
            padding-right: s(l);
        }
    }
}