// SCALE 
// Many measurements in Substrate are based off this scale,
// including the grid, buttons, lists, forms, and typographical elements.
$scale__base:  2rem !default;
$scale__ratio: 1.618 !default; // golden
$scale: (
	n: 0,
	xs: #{$scale__base} / #{$scale__ratio} / #{$scale__ratio},
	s: #{$scale__base} / #{$scale__ratio},
	m: $scale__base,
	l: #{$scale__base} * #{$scale__ratio},
	xl: #{$scale__base} * #{$scale__ratio} * #{$scale__ratio},
	xxl: #{$scale__base} * #{$scale__ratio} * #{$scale__ratio} * #{$scale__ratio}
);

// SCALE Function
// E.g. use s(xs) to reference the "small" key in the $scale object
// If you need a negative value, set the $i @param to true
@function s($key, $i: false) {
	@if map-has-key($scale, $key) {
		@if $i == true {
			@return map-get($scale, $key);
		} @else {
			@return calc(#{map-get($scale, $key)});
		}
	} @else {
		@warn "Unknown increment (#{$key}) in $scale object.";
		@return 1rem;
	}
}