// SCALE 
// Many measurements in Substrate are based off this scale,
// including the grid, buttons, lists, forms, and typographical elements.
$font_base: 10;
$scale_base:  1em;
$ratio: 1.618; // golden

$scale: (
	n: 0,
	xs: calc(#{$scale_base} / ( #{$ratio} * #{$ratio} ) ),
	s: calc(#{$scale_base} / #{$ratio}),
	m: $scale_base,
	l: calc(#{$scale_base} * #{$ratio}),
	xl: calc(#{$scale_base} * ( #{$ratio} * #{$ratio}) )
);

// SCALE Function
// E.g. use s(xs) to reference the "small" key in the $scale object
@function s($key) {
  @if map-has-key($scale, $key) {
    @return map-get($scale, $key);
  } @else {
  	@warn "Unknown increment (#{$key}) in $scale object.";
  	@return 1em;
  }
}

// Negative scale for .grid .row classes
$scale__negative: (
	xs: calc(-1 * #{$scale_base} / ( #{$ratio} * #{$ratio} ) ),
	s: calc(-1 * #{$scale_base} / #{$ratio}),
	m: calc(-1 * $scale_base),
	l: calc(-1 * #{$scale_base} * #{$ratio}),
	xl: calc(-1 * #{$scale_base} * ( #{$ratio} * #{$ratio}) )
);
@function sn($key) {
  @if map-has-key($scale__negative, $key) {
    @return map-get($scale__negative, $key);
  } @else {
  	@warn "Unknown increment (#{$key}) in $scale_negative object.";
  	@return 1em;
  }
}