// SCALE 
// Many measurements in Substrate are based off this scale,
// including the grid, buttons, lists, forms, and typographical elements.
$scale_base:  2rem;
$ratio: 1.618; // golden

$scale: (
	n: 0,
	xs: (#{$scale_base} / ( #{$ratio} * #{$ratio} ) ),
	s: (#{$scale_base} / #{$ratio}),
	m: $scale_base,
	l: (#{$scale_base} * #{$ratio}),
	xl: (#{$scale_base} * ( #{$ratio} * #{$ratio}) )
);

// SCALE Function
// E.g. use s(xs) to reference the "small" key in the $scale object
// If you need a negative value, set the $i @param to true
@function s($key, $i: false) {
  @if map-has-key($scale, $key) {
    @if $i == true {
      @return map-get($scale, $key);
    } @else {
      @return calc(#{map-get($scale, $key)});
    }
  } @else {
  	@warn "Unknown increment (#{$key}) in $scale object.";
  	@return 1rem;
  }
}