// BREAKPOINTS
// These should be configured for the project.
// To use, reference via the break() function
// below, i.e. break(xl)
$breakpoints: (
	xs: 399,
	s: 600,
	m: 850,
	l: 1050,
	xl: 1200
) !default;

// This function converts values to ems,
// regardless of units.
@function em($value) {
	@if ($value/1) == $value {
		@if (unit($value) == 'px') {
			$unitless_value: $value/1px;
			@return ($unitless_value/16)*1em;
		} @else if (unit($value) == 'pt') {
			$unitless_value: $value/1pt;
			@return ($unitless_value/16)*1em;
		} @else {
			@return ($value/16)*1em;
		}
	}
	@warn "em(#{$value}) is not a number.";
	@return null;
}

// BREAKPOINT FUNCTION
// This function can be used with min-width or
// max-width queries, and converts the pixel
// value breakpoint variables at the top of this
// doc to ems for the rendered @media blocks.
// If passed a pixel value, it simply converts
// it to ems for use.
@function break($breakpoint, $min-width: true) {
	@if map-has-key($breakpoints, $breakpoint) {
    @if ($min-width == false) {
      @return em(map-get($breakpoints, $breakpoint) - 1);
    } @else {
      @return em(map-get($breakpoints, $breakpoint));
    }
	} @else {
    @if ($min-width == false) {
      @return em($breakpoint - 1)
    } @else {
      @return em($breakpoint)
    }
  }
	@warn "Bad value (#{$breakpoint}) in function break(#{$breakpoint}).";
	@return 'Check your break() declaration.';
}
