// COLORS
// Function 'color()' allows user to grab a key value
// from the $colors SASS map.
$colors: (
	w: #FFFFFF,
	b: #222222,
	g: #333333,
	g1: #f5f5f5,
	g2: #cccccc,
	g3: #999999,
	g4: #666666,
	theme: #148ECC
) !default;
@function color($key) {
	@if map-has-key($colors, $key) {
		@return map-get($colors, $key);
	} @else {
		@warn "Unknown color (#{$key}) in $colors object.";
		@return #222222;
	}
}