// COLORS
$c1: #148ECC;
$cb: #222222;
$cg: #444444;
$cg1: #f5f5f5;
$cg2: #cccccc;
$cg3: #999999;

.c1 { color: $c1 }
.cw { color: white }
.cb { color: $cb }
.cg { color: $cg }
.cg1 { color: $cg1 }
.cg2 { color: $cg2 }
.cg3 { color: $cg3 }

.bg-c1 { background-color: $c1 }
.bg-cw { background-color: white }
.bg-cb { background-color: $cb }
.bg-cg { background-color: $cg }
.bg-cg1 { background-color: $cg1 }
.bg-cg2 { background-color: $cg2 }
.bg-cg3 { background-color: $cg3 }
