// COLORS
$c-theme: #148ECC;
$c-b: #222222;
$c-g: #444444;
$c-g1: #f5f5f5;
$c-g2: #cccccc;
$c-g3: #999999;

.c-theme { color: $c-theme }
.c-w { color: white }
.c-b { color: $c-b }
.c-g { color: $c-g }
.c-g1 { color: $c-g1 }
.c-g2 { color: $c-g2 }
.c-g3 { color: $c-g3 }

.bg-c-theme { background-color: $c-theme }
.bg-c-w { background-color: white }
.bg-c-b { background-color: $c-b }
.bg-c-g { background-color: $c-g }
.bg-c-g1 { background-color: $c-g1 }
.bg-c-g2 { background-color: $c-g2 }
.bg-c-g3 { background-color: $c-g3 }
