// GRID COMPONENTS
.container {
	@extend .block-relative;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}
.container--l {
	@extend .container;
	width: 90%;
	@media (min-width: break($_xs)) {
		width: 92.5%;
	}
	@media (min-width: break($_m)) {
		width: 95%;
	}
}
.container--m {
	@extend .container;
	width: 90%;
	@media (min-width: break($_xs)) {
		width: 85%;
	}
	@media (min-width: break($_m)) {
		width: 80%;
	}
}
.container--s {
	@extend .container;
	width: 90%;
	@media (min-width: break($_xs)) {
		width: 80%;
	}
	@media (min-width: break($_m)) {
		width: 66%;
	}
}
