// Grid Sizing
// Generates classes i.e. '.s12 { width: 50% }'
// Plus, breakpoint specific extensions i.e. '.s12_m { width: 50% }',
// which will only affect layouts greater than break(m)
$col_sizes: (
	1: 100%,
	12: 50%,
	13: 33.333333%,
	23: 66.666666%,
	14: 25%,
	34: 75%,
	16: 16.666666%,
	56: 83.333333%,
	15: 20%,
	25: 40%,
	35: 60%,
	45: 80%
) !default;
@each $col_ext, $width in $col_sizes {
	.s#{$col_ext} { width: $width }
	// .p#{$col_ext} { left: $width }
	// .pl#{$col_ext} { left: calc(-1 * #{$width}) }
	// .sx#{$col_ext} { margin-right: $width }
}
@each $break_ext, $break in $breakpoints {
	@media (min-width: em($break)){
		@each $col_width, $width in $col_sizes {
		    .s#{$col_width}_#{$break_ext} { width: $width }
		    // .p#{$col_width}_#{$break_ext} { left: $width }
		    // .pl#{$col_width}_#{$break_ext} { left: calc(-1 * #{$width}) }
		    // .sx#{$col_width}_#{$break_ext} { margin-right: $width }
		}
	}
}