// GRID COMPONENTS
$grid__gutter--s: 10px !default;
$grid__gutter--m: 20px !default;
$grid__gutter--l: 30px !default;
.grid {
@extend .block-relative;
	margin: auto;	width: 100%;
}
.grid--l {
	@extend .grid;
	width: 90%;
	@media (min-width: 24.9375em) { // 399px
		width: 92.5%;
	}
	@media (min-width: 48em) { // 768px
		width: 95%;
	}
}
.grid--m {
	@extend .grid;
	width: 90%;
	@media (min-width: 24.9375em) { // 399px
		width: 85%;
	}
	@media (min-width: 48em) { // 768px
		width: 80%;
	}
}
.grid--s {
	@extend .grid;
	width: 90%;
	@media (min-width: 24.9375em) { // 399px
		width: 80%;
	}
	@media (min-width: 48em) { // 768px
		width: 66%;
	}
}
.row {
	@extend .block-relative;
	@extend .u-clear;
	margin: 0 auto;
}
.col { 
	@extend .block-relative;
	float: left;
	min-height: 1px;
}
// GUTTERS
.has-gutter--s {
	margin-left: ($grid__gutter--s * -1);
	margin-right: ($grid__gutter--s * -1);
	> .col {
		padding-left: $grid__gutter--s;
		padding-right: $grid__gutter--s;
	}
}
.has-gutter--m {
	margin-left: ($grid__gutter--m * -1);
	margin-right: ($grid__gutter--m  * -1);
	> .col {
		padding-left: $grid__gutter--m;
		padding-right: $grid__gutter--m;
	}
}
.has-gutter--l {
	margin-left: ($grid__gutter--l * -1);
	margin-right: ($grid__gutter--l  * -1);
	> .col {
		padding-left: $grid__gutter--l;
		padding-right: $grid__gutter--l;
	}
}