/*
 * Padding
 *
 * Generates classes i.e. '.padding-r-l { padding-right: scale(l) }'
 * Plus, breakpoint specific extensions i.e. '.padding-r-l_m { padding-right: scale(l) }',
 ** which will only affect layouts greater than break(m)
 */
@each $size, $value in $scale {
	.padding-a-#{$size} { padding: $value }
	.padding-l-#{$size} { padding-left: $value }
	.padding-r-#{$size} { padding-right: $value }
	.padding-t-#{$size} { padding-top: $value }
	.padding-b-#{$size} { padding-bottom: $value }
	.padding-v-#{$size} { padding-top: $value; padding-bottom: $value; }
	.padding-h-#{$size} { padding-left: $value; padding-right: $value; }
}
@each $breakpoint, $break_size in $breakpoints {
	@media (min-width: $break_size){
		@each $size, $value in $scale {
			.padding-a-#{$size}_#{$breakpoint} { padding: $value }
			.padding-l-#{$size}_#{$breakpoint} { padding-left: $value }
			.padding-r-#{$size}_#{$breakpoint} { padding-right: $value }
			.padding-t-#{$size}_#{$breakpoint} { padding-top: $value }
			.padding-b-#{$size}_#{$breakpoint} { padding-bottom: $value }
			.padding-v-#{$size}_#{$breakpoint} { padding-top: $value; padding-bottom: $value; }
			.padding-h-#{$size}_#{$breakpoint} { padding-left: $value; padding-right: $value; }
		}
	}
}